.page-communityDetail .am-clickable-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-communityDetail .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.page-communityDetail input {
  border: none;
  background-color: transparent;
}
.page-communityDetail .am-header .edit_icon {
  height: 44px;
  width: 44px;
  position: absolute;
  text-align: center;
  display: inline-block;
  line-height: 44px;
  bottom: 0px;
  right: 0px;
  font-size: 22px;
  background: #213f83;
  color: #fff;
}
.page-communityDetail .am-header .edit_icon.am-clickable-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-communityDetail .am-body-wrap {
  background-color: #f7f7f7;
}
.page-communityDetail .am-body-wrap *,
.page-communityDetail .am-body-wrap:after,
.page-communityDetail .am-body-wrap:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap {
  padding: 5px 13px;
  background-color: #fff;
  margin-bottom: 1px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .topics-wrap {
  height: 34px;
  padding: 8px 37px 9px 0;
  position: relative;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .topics-wrap .topics {
  height: 20px;
  overflow: hidden;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .topics-wrap .topics p {
  vertical-align: middle;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 3px;
  font-size: 11px;
  color: #939393;
  line-height: 20px;
  float: left;
  margin-right: 7px;
  padding: 0 5px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .topics-wrap .operate {
  position: absolute;
  width: 20px;
  height: 30px;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #c7c7c7;
  text-align: center;
  line-height: 37px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .title {
  font-size: 0px;
  color: #222;
  line-height: 24px;
  /* overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical; */
  margin-top: 5px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .title.essence::before {
  content: "精";
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  margin: 3px;
  background-color: #e57f5e;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 15px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .title .text {
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker {
  height: 20px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 2px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker .left {
  height: 20px;
  float: left;
  width: 60%;
  overflow: hidden;
  position: relative;
  padding-left: 26px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker .left .header {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  background: url(img/barberBg-man.gif);
  background-size: 100% 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker .left .header img {
  width: 100%;
  height: 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker .left .header.f {
  background: url(img/barberBg-women.gif);
  background-size: 100% 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker .left .name,
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .marker .left .time {
  float: left;
  font-size: 11px;
  color: #939393;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  padding-right: 6px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .des {
  margin: 10px 0;
  font-size: 14px;
  color: #222;
  line-height: 22px;
  /* overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical; */
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .photos {
  font-size: 0;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .photos div {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 6px 0;
  background-color: #ccc;
  width: 100px;
  height: 100px;
  float: left;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .photos div:nth-child(3n) {
  margin: 0 0 6px 0;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .photos div img {
  width: 100%;
  height: 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs {
  margin: 3px 0;
  text-align: left;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs ul.headers {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 24px;
  overflow: hidden;
  font-size: 0px;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs ul.headers li {
  display: inline-block;
  vertical-align: middle;
  margin-left: -3px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs ul.headers li:not(.iconfont) {
  background: url(img/barberBg-man.gif);
  background-size: 100% 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs ul.headers li:not(.iconfont) img {
  width: 100%;
  height: 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs ul.headers li:not(.iconfont).f {
  background: url(img/barberBg-women.gif);
  background-size: 100% 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs ul.headers li.iconfont {
  text-align: center;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #BABABA;
}
.page-communityDetail .am-body-wrap .am-body-inner .top_wrap .thumbs .text {
  position: absolute;
  width: 80px;
  font-size: 11px;
  color: #999;
  line-height: 24px;
  margin-left: 10px;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap {
  position: relative;
  margin-top: 10px;
  background-color: #fff;
  padding: 13px;
  min-height: 150px;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comment_tit {
  font-size: 13px;
  color: #999;
  line-height: 28px;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container {
  position: relative;
  overflow: hidden;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li {
  margin-top: 10px;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_info {
  font-size: 11px;
  line-height: 24px;
  color: #939393;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_info .info_left {
  float: left;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_info .info_left .header {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
  overflow: hidden;
  background: url(img/barberBg-man.gif);
  background-size: 100% 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_info .info_left .header img {
  width: 100%;
  height: 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_info .info_left .header.f {
  background: url(img/barberBg-women.gif);
  background-size: 100% 100%;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_info .info_right {
  float: right;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .comments_container .comments_list li .comment_con {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 13px;
  color: #222222;
  line-height: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F7F7F7;
  word-wrap: break-word;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer {
  width: 100%;
  height: 200px;
  position: relative;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
  font-size: 12px;
  color: #aaa;
  text-align: center;
  display: none;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .error .icon {
  margin: -42px auto 0;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 60px;
  background: url(img/empty_page.png) no-repeat center center;
  background-size: 80px 60px;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .loadingContent {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: none;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .loadingContent span {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: url(../libs/am/images/blueloading-small.png) no-repeat center center;
  background-size: 30px 30px;
  -webkit-animation: animation-loading infinite linear 1s;
  left: 0;
  top: 0;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .loadingContent p {
  line-height: 50px;
  font-size: 12px;
  padding: 0 50px;
  text-align: center;
  color: #888;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .reload {
  display: none;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .reload p {
  line-height: 20px;
  font-size: 15px;
  padding: 0 0 15px 0;
  text-align: center;
  color: #aaa;
}
.page-communityDetail .am-body-wrap .am-body-inner .comment_wrap .replacer .reload span {
  background: #2dbd84;
  color: #fff;
  width: 100px;
  line-height: 35px;
  font-size: 14px;
  display: block;
  margin: auto;
  text-align: center;
}
.page-communityDetail .edit_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  border-top: 1px solid #F7F7F7;
  background-color: #fff;
  padding: 0 13px;
  padding-top: 1px;
}
.page-communityDetail .edit_bottom .input_wrap {
  background-color: #f7f7f7;
  border-radius: 4px;
  margin: 6px 0;
  font-size: 13px;
  color: #b9b9b9;
  overflow: hidden;
  display: block;
  margin-right: 60px;
  /* 使用webkit内核的浏览器 */
  /* Firefox版本4-18 */
  /* Firefox版本19+ */
  /* IE浏览器 */
}
.page-communityDetail .edit_bottom .input_wrap .comment_input {
  display: block;
  min-height: 20px;
  width: 100%;
  word-wrap: break-word;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 20px;
  max-height: 100px;
  margin: 6px 0;
  padding-left: 6px;
}
.page-communityDetail .edit_bottom .input_wrap ::-webkit-input-placeholder {
  line-height: 20px;
  color: #B9B9B9;
  font-size: 13px;
}
.page-communityDetail .edit_bottom .input_wrap ::-moz-placeholder {
  line-height: 20px;
  color: #B9B9B9;
  font-size: 13px;
}
.page-communityDetail .edit_bottom .input_wrap ::-moz-placeholder {
  line-height: 20px;
  color: #B9B9B9;
  font-size: 13px;
}
.page-communityDetail .edit_bottom .input_wrap ::-ms-input-placeholder {
  line-height: 20px;
  color: #B9B9B9;
  font-size: 13px;
}
.page-communityDetail .edit_bottom .send_btn {
  width: 70px;
  height: 28px;
  font-size: 15px;
  color: #2DBD84;
  position: absolute;
  right: 0px;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  line-height: 28px;
  border-radius: 4px;
  text-align: center;
  display: none;
}
.page-communityDetail .edit_bottom .send_btn.disabled {
  color: #CECECE;
}
.page-communityDetail .edit_bottom .act_thumbs {
  position: absolute;
  right: 0;
  width: 70px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}
.page-communityDetail .edit_bottom .act_thumbs .icon-dianzan1,
.page-communityDetail .edit_bottom .act_thumbs .icon-dianzan11 {
  font-size: 22px;
  vertical-align: middle;
}
.page-communityDetail .edit_bottom .act_thumbs .icon-dianzan11 {
  display: inline-block;
}
.page-communityDetail .edit_bottom .act_thumbs .icon-dianzan1 {
  display: none;
  color: #2DBD84;
}
.page-communityDetail .edit_bottom .act_thumbs .num {
  display: inline-block;
  vertical-align: middle;
  color: #2DBD84;
}
.page-communityDetail .edit_bottom .act_thumbs.done .icon-dianzan11 {
  display: none;
}
.page-communityDetail .edit_bottom .act_thumbs.done .icon-dianzan1 {
  display: inline-block;
}
.page-communityDetail .edit_bottom.send .send_btn {
  display: block;
}
.page-communityDetail .edit_bottom.send .act_thumbs {
  display: none;
}
