.page-educationHAC .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.page-educationHAC .am-header .title .nav {
  height: 36px;
  margin: 4px auto;
  font-size: 0;
  text-align: center;
}
.page-educationHAC .am-header .title .nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  height: 36px;
  line-height: 36px;
  font-weight: normal;
}
.page-educationHAC .am-header .title .nav li.active {
  opacity: 1;
  border-bottom: 2px solid #fff;
}
.page-educationHAC .am-body-wrap *,
.page-educationHAC .am-body-wrap:after,
.page-educationHAC .am-body-wrap:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page-educationHAC .am-body-wrap .list {
  padding: 0 10px;
  background-color: #fff;
}
.page-educationHAC .am-body-wrap .list li {
  padding: 15px 0;
  height: 106px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.page-educationHAC .am-body-wrap .list li:last-child {
  border-bottom: none;
}
.page-educationHAC .am-body-wrap .list li .left {
  width: 135px;
  float: left;
}
.page-educationHAC .am-body-wrap .list li .left .img-wrap {
  height: 76px;
  position: relative;
  background: #f4f4f4 url('../css/img/education/default.png') no-repeat center center;
  background-size: 48px 21px;
}
.page-educationHAC .am-body-wrap .list li .left .img-wrap img {
  width: 100%;
  height: 100%;
  display: none;
}
.page-educationHAC .am-body-wrap .list li .left .count-wrap {
  position: absolute;
  max-width: 100%;
  font-size: 10px;
  color: #aaa;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 3px;
  border-radius: 2px;
}
.page-educationHAC .am-body-wrap .list li .right {
  margin-left: 150px;
}
.page-educationHAC .am-body-wrap .list li .right .title {
  font-size: 16px;
  color: #222;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 2px;
}
.page-educationHAC .am-body-wrap .list li .right .college {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  max-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page-educationHAC .am-body-wrap .list li .right .keywords {
  height: 16px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
}
.page-educationHAC .am-body-wrap .list li .right .keywords span {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  color: #999;
  height: 16px;
  line-height: 14px;
  padding: 0 3px;
  margin-right: 3px;
  border: 1px solid #dedede;
  border-radius: 3px;
}
.page-educationHAC .am-body-wrap .error {
  position: absolute;
  width: 100%;
  font-size: 12px;
  color: #aaa;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: none;
}
