.page-createMsgPlate {
  font-size: 14px;
  color: #222222;
}
.page-createMsgPlate .am-header .shutdown {
  margin-left: 10px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner .topic {
  font-size: 10px;
  color: #acacac;
  margin: 0px 0 10px 15px;
  padding-top: 20px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li {
  width: 100%;
  padding-top: 40px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li div.title {
  line-height: 30px;
  position: absolute;
  margin-top: -40px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li div.pic {
  background-repeat: no-repeat;
  background-position: center left;
  height: 100%;
  background-size: contain;
  margin-left: 10px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li:nth-child(1) {
  height: 77px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li:nth-child(1) div.pic {
  background-image: url('img/plate_bg_1.png');
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li:nth-child(2) {
  height: 77px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li:nth-child(2) div.pic {
  background-image: url('img/plate_bg_2.png');
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li:nth-child(3) {
  height: 141px;
}
.page-createMsgPlate .am-body-wrap .am-body-inner ul li:nth-child(3) div.pic {
  background-image: url('img/plate_bg_3.png');
}
