.page_setShopGoal .am-body-wrap {
  background: #F7F7F7;
}
.page_setShopGoal .am-body-wrap .goal_appraise {
  padding: 10px 16px;
  display: block;
  width: 100%;
  height: 76px;
  box-sizing: border-box;
  background: #FFFFFF;
}
.page_setShopGoal .am-body-wrap .goal_appraise .tit {
  font-size: 12px;
  color: #222222;
  line-height: 24px;
}
.page_setShopGoal .am-body-wrap .goal_appraise ul {
  white-space: nowrap;
  margin: 10px 0;
}
.page_setShopGoal .am-body-wrap .goal_appraise ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}
.page_setShopGoal .am-body-wrap .goal_appraise ul li:last-child {
  margin-right: 0;
}
.page_setShopGoal .am-body-wrap .goal_appraise ul li .icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("img/unselected_icon.png") no-repeat center center;
  background-size: 20px 20px;
  margin-right: 4px;
}
.page_setShopGoal .am-body-wrap .goal_appraise ul li.selected .icon {
  background-image: url("img/selected_icon.png");
  background-size: 20px 20px;
}
.page_setShopGoal .am-body-wrap .goal_appraise ul li .text {
  vertical-align: middle;
  font-size: 14px;
  color: #939393;
}
.page_setShopGoal .am-body-wrap .goal_list {
  top: 76px;
  position: absolute;
  bottom: 47px;
  left: 0;
  right: 0;
  overflow: hidden;
}
.page_setShopGoal .am-body-wrap .goal_list ul {
  width: 100%;
}
.page_setShopGoal .am-body-wrap .goal_list ul li {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 0 16px;
  width: 100%;
  background-color: #fff;
  margin-right: 15px;
  padding-bottom: 16px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_tit {
  line-height: 50px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_tit .tit_icon {
  color: #657BAC;
  vertical-align: middle;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_tit .tit_text {
  vertical-align: middle;
  font-size: 15px;
  color: #222222;
  line-height: 32px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_status {
  display: none;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_input {
  line-height: 55px;
  height: 55px;
  width: 100%;
  background: #F4F4F4;
  border-radius: 8px;
  position: relative;
  margin-bottom: 10px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_input input {
  border: none;
  font-size: 29px;
  color: #222222;
  line-height: 29px;
  height: 29px;
  width: 180px;
  background-color: #F4F4F4;
  margin: 0 22px;
  vertical-align: middle;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_input input::-webkit-input-placeholder {
  color: #D2D2D2;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_input input::-ms-input-placeholder {
  color: #D2D2D2;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_input input::-moz-placeholder {
  color: #D2D2D2;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_input input::-moz-placeholder {
  color: #D2D2D2;
}
.page_setShopGoal .am-body-wrap .goal_list ul li.labourPerf .item_tit .tit_icon {
  font-size: 18px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li.cashPerf .item_tit .tit_icon {
  font-size: 24px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_refer {
  margin-top: 10px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_refer .line_tip {
  font-size: 11px;
  color: #939393;
  line-height: 22px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_refer .line_tip::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_refer .line_tip .tip_lf {
  float: left;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .item_refer .line_tip .tip_rt {
  float: right;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .cur_comparison {
  display: block;
  font-size: 12px;
  color: #222222;
  line-height: 44px;
  height: 44px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .cur_comparison .compare_mon,
.page_setShopGoal .am-body-wrap .goal_list ul li .cur_comparison .compare_year {
  margin-right: 20px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .cur_comparison .text {
  margin-left: 5px;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .cur_comparison .red {
  color: #F6673F;
}
.page_setShopGoal .am-body-wrap .goal_list ul li .cur_comparison .green {
  color: #2BCE76;
}
.page_setShopGoal .am-body-wrap .save_btn {
  width: 100%;
  height: 47px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2DBD84;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 47px;
}
.page_setShopGoal .am-body-wrap .save_btn.disabled {
  background: #D5D5D5;
}
.page_setShopGoal .am-body-wrap .save_btn.am-clickable-active {
  background-color: #17A96F;
}
