.page-addTag .am-header .left,
.page-addTag .am-header .right {
  position: absolute;
  width: 44px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 44px;
}
.page-addTag .am-header .am-clickable-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-addTag .am-body-wrap *,
.page-addTag .am-body-wrap:after,
.page-addTag .am-body-wrap:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page-addTag .am-body-wrap .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.page-addTag .am-body-wrap input {
  border: none;
  background-color: transparent;
}
.page-addTag .am-body-wrap .wrapper {
  padding: 0 15px;
  margin-bottom: 8px;
}
.page-addTag .am-body-wrap .wrapper .title {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #999;
  position: relative;
}
.page-addTag .am-body-wrap .wrapper .title .type {
  float: left;
}
.page-addTag .am-body-wrap .wrapper .title .toDel {
  position: absolute;
  width: 40px;
  height: 32px;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  top: 0;
  right: -15px;
}
.page-addTag .am-body-wrap .wrapper .title .toDel.active::before {
  content: '取消';
  font-size: 12px;
}
.page-addTag .am-body-wrap .wrapper .title .toDel.am-clickable-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-addTag .am-body-wrap .wrapper .title .toggle {
  float: right;
  color: #cfcfcf;
}
.page-addTag .am-body-wrap .wrapper .title .toggle::before {
  content: '展开全部';
  display: inline-block;
  vertical-align: top;
}
.page-addTag .am-body-wrap .wrapper .title .toggle .iconfont {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.page-addTag .am-body-wrap .wrapper .title .toggle.up::before {
  content: '收起';
}
.page-addTag .am-body-wrap .wrapper .title .toggle.up .iconfont {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.page-addTag .am-body-wrap .wrapper .list {
  overflow: hidden;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.page-addTag .am-body-wrap .wrapper .list .item {
  float: left;
  margin-right: 5px;
  position: relative;
  padding: 5px 5px 5px 0;
}
.page-addTag .am-body-wrap .wrapper .list .item p {
  font-size: 12px;
  color: #222;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
}
.page-addTag .am-body-wrap .wrapper .list .item.selected p {
  background-color: #2dbd84;
  border: 1px solid #2dbd84;
  color: #fff;
}
.page-addTag .am-body-wrap .wrapper .list .item.new::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #f00;
  border-radius: 50%;
  right: 8px;
  bottom: 8px;
}
.page-addTag .am-body-wrap .wrapper .list .item .del {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  color: #d1d1d1;
  background: #fff;
  border-radius: 50%;
  display: none;
}
.page-addTag .addwrap {
  position: absolute;
  width: 100%;
  height: 92px;
  border-top: 1px solid #e3e3e3;
  bottom: 0;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page-addTag .addwrap *,
.page-addTag .addwrap:after,
.page-addTag .addwrap:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page-addTag .addwrap .tip {
  font-size: 12px;
  color: #999;
  line-height: 40px;
}
.page-addTag .addwrap .wrap {
  height: 36px;
  font-size: 0;
  padding-right: 63px;
  border-radius: 3px;
  position: relative;
}
.page-addTag .addwrap .wrap input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 36px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 0 10px;
}
.page-addTag .addwrap .wrap .add-icon {
  position: absolute;
  width: 48px;
  height: 36px;
  top: 0;
  right: 0;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  background-color: #dcdcdc;
  border-radius: 4px;
}
.page-addTag .addwrap .wrap .add-icon.able {
  background-color: #2DBD84;
}
.page-addTag .addwrap .wrap .add-icon.am-clickable-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-addTag .mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
}
body {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: auto;
}
body.inputfocus {
  top: auto;
  bottom: 0;
}
