@charset "utf-8";
html.ios .page-customerByCraftsman .class-fullcenter {
    top: 106px;
}

.page-customerByCraftsman .class-fullcenter {
    top: 131px;
}

.page-customerByCraftsman .am-header .left {
    left: 10px;
}

.page-customerByCraftsman {
    background-color: #f6f6f6;
}
.page-customerByCraftsman-type {
    height: 42px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    /* box-shadow:0 0 4px rgba(0,0,0,0.2); */
    z-index: 99;
    position: relative;
}

.page-customerByCraftsman-type ul {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    float: left;
}

.page-customerByCraftsman-type li {
    -webkit-box-flex: 1;
    /* min-width: 90px; */
}

.page-customerByCraftsman-type .btn {
    margin: 0 10px;
    text-align: center;
    color: #5c5c5c;
    padding: 3px 7px 3px 7px;
    height: 33px;
    white-space: nowrap;
}

.page-customerByCraftsman-type .text {
    font-size: 14px;
    line-height: 18px;
}

.page-customerByCraftsman-type .num {
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    padding: 0 6px;
    border-radius: 8px;
}

.page-customerByCraftsman-type .selected .text {
    color: #2dbd84;
}

.page-customerByCraftsman-type .selected .btn {
    border-bottom: 3px solid #2dbd84;
}

.page-customerByCraftsman-type .selected .num {
    background: #2dbd84;
    color: #FFF;
    display: inline-block;
    padding: 0 6px;
    border-radius: 8px;
}
.page-customerByCraftsman ul.craftsmanList {
    margin-top: 10px;
}
.page-customerByCraftsman ul.craftsmanList>p {
    text-align: center;
    line-height: 120px;
    color: #999;
}

.page-customerByCraftsman .craftsmanList li {
    height: 70px;
    line-height: 70px;
    position: relative;
    background-color: #fff;
    /* border-bottom: 1px solid #eee; */
}

.page-customerByCraftsman .craftsmanList li::after {
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 13px;
    right: 13px;
    background-color: #e8e8e8;
    content: '';
    /* border-bottom: 1px solid #eee; */
}

.page-customerByCraftsman .craftsmanList li:last-child {
    border-bottom-width: 0;
}

.page-customerByCraftsman .craftsmanList .img_box img {
    height: 100%;
    width: 100%;
    border: 0;
}

.page-customerByCraftsman .craftsmanList .img_box {
    margin-left: 13px;
    width: 50px;
    margin-top: 10px;
    height: 50px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    border: 0;
    background-size: cover;
    background-image: url("img/bg-woman.gif");
    border: #e9e9e9 2px solid;
}

.page-customerByCraftsman .craftsmanList .img_box.male {
    background-image: url("img/bg-man.gif");
}

.page-customerByCraftsman .craftsmanList .name {
    padding-left: 13px;
    color: #222;
    font-size: 14px;
}

.page-customerByCraftsman .craftsmanList i {
    float: right;
    display: inline-block;
    width: 24px;
    height: 100%;
    margin-right: 13px;
    background-image: url(img/report_arrowRight.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right center;
}

.page-customerByCraftsman .craftsmanList .num {
    float: right;
    color: #999;
    font-size: 12px;
}

.page-customerByCraftsman .not_assigned-bar {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}
.page-customerByCraftsman .not_assigned-bar  .num {
    float: right;
    color: #222;
    font-size: 12px;
}
.page-customerByCraftsman .not_assigned-bar i {
    float: right;
    display: inline-block;
    width: 24px;
    height: 100%;
    margin-right: 13px;
    background-image: url(img/report_arrowRight.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right center;
}
.page-customerByCraftsman .not_assigned-bar .name {
    padding-left: 13px;
    color: #222;
    font-size: 14px;
}