// 项目设置图片
.goodModal {
    font-size: 16px;
    text-align: left;
    .inner {
        z-index: 1;
        width: 360px;
        height: 370px;
        margin-left: -209px;
        margin-top: -212px;
        padding: 27px 30px;
        h2 {
            font-size: 18px;
            font-weight: bold;
            .good {
                width: 26px;
                height: 24px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: -2px;
                background: url(../images/good.png) no-repeat;
                background-size: cover;
            }
        }
        .modal-head {
            height: 35px;
            .close {
                top: 10px;
                right: 10px;
            }
        }
        .modal-content {
            margin-top: 10px;
            overflow: hidden;
            position: relative;
            font-size: 12px;
            .modal-warp {
                margin: 20px 0;
                height: 120px;
                .chart {
                    width: 31px;
                    height: 115px;
                    background: #f3f3f3;
                    border-radius: 2px;
                    position: relative;
                    margin-left: 58px;
                    .box {
                        width: 100%;
                        bottom: 0;
                        position: absolute;
                        span {
                            width: 50px;
                            position: absolute;
                            left: -56px;
                            text-align: right;
                        }
                    }
                    .box1 {
                        height: 92px;
                        background: #ec7bac;
                    }
                    .box2 {
                        height: 47px;
                        background: #f19ec2;
                    }
                }
                .l-img {
                    width: 30%;
                    float: left;
                }
                .r-text {
                    float: left;
                    height: 85px;
                    margin-top: 10px;
                    text-align: center;
                    p {
                        color: #222;
                        margin-top: 10px;
                        &.tip {
                            margin-top: 0;
                            color: #888;
                        }
                    }
                }
            }
            p {
                color: #888;
            }
            .info {
                height: 44px;
                line-height: 40px;
                margin-top: 20px;
                background: #fffaf2;
                color: #e1af61;
                text-indent: 1em;
                &::before {
                    content: "\e648";
                    font-size: 21px;
                    margin-right: 8px;
                    vertical-align: -2px;
                    font-family: "iconfont" !important;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }
}
