.page_test .open_log {
  float: right;
  margin-right: 5px;
  text-decoration: underline;
  font-weight: normal;
}
.page_test .testContent {
  position: absolute;
  padding-left: 10px;
  left: 0;
  right: 0;
  top: 51px;
  bottom: 0;
}
.page_test .testContent .copytext {
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  text-align: center;
  background: #e82742;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.page_test .testContent .textbox {
  margin-top: 10px;
}
