#page_multiCardPay .totalprice {
  height: 52px;
  line-height: 52px;
}
#page_multiCardPay .totalprice .leftTit {
  float: left;
  height: 52px;
  line-height: 52px;
  color: #666;
}
#page_multiCardPay .totalprice .leftTit .total {
  font-weight: 500;
  font-size: 18px;
  color: #222;
  vertical-align: middle;
}
#page_multiCardPay .totalprice .rightTit {
  float: right;
  height: 52px;
  line-height: 52px;
}
#page_multiCardPay .totalprice .rightTit .discountMoney {
  font-weight: 500;
  font-size: 18px;
  color: #222;
  vertical-align: middle;
}
#page_multiCardPay .comboitemPay {
  border-bottom: 1px solid #ececec;
  height: 44px;
  line-height: 44px;
}
#page_multiCardPay .multiCard {
  height: auto;
  padding-right: 0;
}
#page_multiCardPay .multiCard .multiCardWrap {
  overflow: hidden;
  max-height: 200px;
}
#page_multiCardPay .multiCard .multiCardWrap ul li {
  border-bottom: 1px solid #ececec;
  padding-right: 20px;
  height: 44px;
  line-height: 44px;
  position: relative;
}
#page_multiCardPay .multiCard .multiCardWrap ul li:last-of-type {
  border: none;
}
#page_multiCardPay .multiCard .multiCardWrap ul li .leftLi {
  float: left;
  padding-left: 28px;
}
#page_multiCardPay .multiCard .multiCardWrap ul li .leftLi .cardDel {
  position: absolute;
  left: 0;
  top: 12px;
  background: url(../images/card_del.png) no-repeat left center;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
#page_multiCardPay .multiCard .multiCardWrap ul li .leftLi .cardInfo {
  color: #999;
}
#page_multiCardPay .multiCard .multiCardWrap ul li .leftLi .cardName {
  margin-right: 5px;
}
#page_multiCardPay .multiCard .multiCardWrap ul li .rightLi {
  float: right;
}
#page_multiCardPay .multiCard .multiCardWrap ul li .rightLi .costCardFee {
  border: 1px solid #DDDDDD;
  background: #FFF;
  border-radius: 3px;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 14px;
}
#page_multiCardPay .multiCard .addCard {
  border-top: 1px solid #ececec;
  height: 43px;
  line-height: 44px;
  padding-left: 28px;
  background: url(../images/card_add.png) no-repeat left center;
  background-size: 22px 22px;
  color: #00B7EE;
}
