.page_reservation {
    &.am-full {
        .rv_btns {
            display: none;
        }
        .appointment-btn {
            display: none;
        }
        .am-header {
            display: block;
        }
        .rv_scroll {
            top: 50px;
        }
        .toggleMode,.bgStatus {
            display: none !important;
        }
    }
    .am-header {
        display: none;
    }
    .rv_btns {
        position: absolute;
        right: 10px;
        top: 50px;
        height: 40px;
        width: 250px;
        border: #262626 1px solid;
        z-index: 100;
        background: #ffffff;
        border-radius: 20px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
        overflow: hidden;
        line-height: 40px;
        font-size: 14px;
        color: #222222;

        > span {
            width: 55px;
            height: 40px;
            display: block;
            float: left;
            text-align: center;

            &.left {
                background: url("../images/reservation/datePicker-left.png") no-repeat center center;
                background-size: 7px 10px;
            }

            &.right {
                background: url("../images/reservation/datePicker-right.png") no-repeat center center;
                background-size: 7px 10px;
            }

            &.date {
                width: 138px;
                border-right: #262626 1px solid;
                border-left: #262626 1px solid;
                .time,.week {
                    display: block;
                }
                .time {
                    font-size: 16px;
                    line-height: 18px;
                    margin-top: 5px;
                }
                .week {
                    line-height: 14px;
                    font-size: 12px;
                    font-weight: normal;
                }

                // &::before {
                //     content: "";
                //     display: inline-block;
                //     width: 15px;
                //     height: 15px;
                //     background: url("../images/reservation/datePicker-icon.png") no-repeat center center;
                //     background-size: contain;
                //     vertical-align: middle;
                //     margin: 0 5px 3px 0;
                // }
            }

            &.am-clickable-active {
                background-color: #eee;
            }
        }
    }
    .appointment-btn {
        position: absolute;
        width: 120px;
        height: 42px;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        border: 1px solid #cd2038;
        top: 50px;
        right: 270px;
        border-radius: 40px;
        padding-left: 42px;
        background: #e82742 url(../images/appointment/appointment-icon1.png) no-repeat 18px center;
        background-size: 16px 16px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 100;
        &:hover {
            background-color: #C90E28;
        }
    }
    .toggleMode {
        position: absolute;
        width: 96px;
        height: 42px;
        left: 0;
        top: 1px;
        z-index: 100;
        text-align: center;
        background: #fff;
        border-left: 1px solid #bbb;
        p {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            color: #999;
            line-height: 42px;
        }
        span {
            vertical-align: top;
            margin: 10px 5px;
            &.checked {
                background-color: #555;
                &::before {
                    content: '';
                }
            }
            &::before {
                content: '';
            }
        }
    }
    .bgStatus {
        position: absolute;
        width: 300px;
        height: 52px;
        left: 110px;
        top: 0;
        z-index: 100;
        display: none;
        .item {
            height: 52px;
            overflow: hidden;
            float: left;
            margin-right: 15px;
            span {
                display: inline-block;
                vertical-align: top;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin: 21px 5px;
                &.unarrive {
                    background-color: #555;
                }
                &.arrive {
                    background-color: #039966;
                }
                &.pass {
                    background-color: #E03850;
                }
            }
            p {
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                color: #999;
                line-height: 52px;
            }
        }
    }
    .EmpScrollTipLeft,.EmpScrollTipRight {
        position: fixed;
        content: '';
        width: 44px;
        height: 44px;
        top: 53px;
        font-size: 14px;
        color: #ddd;
        text-align: center;
        line-height: 42px;
        background: #fff;
        display: none;
        z-index: 100;
    }
    .EmpScrollTipLeft {
        left: 0;
        border-left: 1px solid #bbb;
    }
    .EmpScrollTipRight {
        right: 0;
        border-right: 1px solid #bbb;
    }
    .backCurrentTime {
        position: absolute;
        left: 12px;
        bottom: 12px;
        z-index: 100;
        width: 120px;
        height: 35px;
        border-radius: 35px;
        border: 1px solid #222;
        font-size: 14px;
        color: #222;
        text-align: center;
        line-height: 35px;
        background: #fff;
        box-shadow:0px 0px 8px 0px rgba(0,0,0,0.36);
        display: none;
        .iconfont {
            display: inline-block;
            vertical-align: top;
            width: 16px;
            height: 16px;
            margin-top: 9px;
            position: relative;
            .icon {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
        .text {
            display: inline-block;
            vertical-align: top;
        }
    }
    .toggleBarber {
        position: fixed;
        height: 48px;
        left: 0;
        right: 0;
        background-color: rgba(27,27,27,0.75);
        overflow: hidden;
        z-index: 101;
        top: -48px;
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        &.fadeIn {
            top: 0;
        }
        p {
            font-size: 15px;
            color: #fff;
            text-align: center;
            line-height: 48px;
        }
        .cancel {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            font-size: 15px;
            color: rgba(243,152,0,1);
            line-height: 48px;
            padding: 0 20px;
        }
    }
    .rv_scroll {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .rv_contaner {
        position: relative;
    }

    .rv_timeline {
        position: absolute;
        left: auto;
        right: auto;
        top: 0;
        bottom: 0;
        width: 1px;
        height: ;
        background: #f00;
        z-index: 10;
    }

    .rv_table {
        border: 1px solid #bbbbbb;
        background: #fff;
        // table-layout: fixed;

        tr.rest {
            background: #f6f6f6;

            .rv_creat {
                display: none;
            }

            .rv_rest {
                display: block;
            }

            .rv_creatMore {
                display: none;
            }
        }
        .user {
            position: relative;
            .prefix-shift{
                position: absolute;
                top: 8px;
                right: 27px;
                font-size: 10px;
                color:#999999
            }
            &.red {
                color: red;
            }
            span.icon-dian {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                color: #bfbfbf;
                z-index: 9;
                text-align: center;
                line-height: 30px;
                &:hover {
                    color: #555555;
                }
                &.am-clickable-active {
                    color: #555555;
                }
            }
            span.icon-xiujia::before {
                position: absolute;
                top: 0;
                right: 0;
                content: '休假';
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                color: #e82742;
                font-weight: bold;
            }
            /* span.rest_text{
                float: right;
                display: block;
                margin:-13px 3px 0 0;
                font-size: 2px;
                font-weight: bold;
                width:45px;
                color: #e82742;
                height: 12px;
            } */
        }
        .rest_bg {
            opacity: 0.3;
        }
        .unable-color {
            color: #555555;
            opacity: 0.7;
        }

        td {
            border-left: 1px solid #ececec;
            border-top: 1px solid #ececec;
            height: 95px;
            width: 82px;
            vertical-align: bottom;
            position: relative;

            &.passed {
                background: #f6f6f6;

                .rv_creat {
                    display: none;
                }

                .rv_creatMore {
                    display: none;
                }
            }

            &.user {
                border-left: none;
                text-align: center;
                vertical-align: middle;

                .header {
                    width: 46px;
                    height: 46px;
                    border-radius: 27px;
                    margin: auto;
                    background: url("../images/reservation/header.png") no-repeat center center;
                    background-size: contain;

                    > img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        border-radius: 100%;
                    }
                }

                .name {
                    font-size: 14px;
                    color: #222222;
                    line-height: 18px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 86px;
                    padding: 0 5px;
                }

                .level {
                    font-size: 11px;
                    color: #999999;
                    line-height: 14px;
                }
            }

            .rv_show {
                position: relative;
                display: none;
                height: 95px;
            }
            .toggleItem {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-width: 15px;
                border-style: solid;
                border-color: transparent transparent #85bfda #85bfda;
                font-size: 12px;
                color: #000;
                text-indent: -15px;
            }

            &.hasContent .rv_creat {
                display: none;
            }

            &.hasContent .rv_show {
                display: block;
            }
        }

        th {
            height: 42px;
            line-height: 40px;
            font-size: 12px;

            span {
                font-size: 18px;
            }

            &.small {
                color: #888;
                font-weight: normal;

                span {
                    font-size: 16px;
                }
            }
        }

        &#page-tableHeaderX {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
        }

        &#page-tableHeaderY {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
        }
    }

    .rv_rest {
        display: none;
        position: absolute;
        line-height: 94px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 55px;
        color: #555555;
        .icon1,.icon2 {
            width: 70%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
        }
        .icon2 {
            display: none;
        }
    }

    .rv_remark {
        width: 83px;
        height: 83px;
        padding: 6px;
        overflow: hidden;
        .comment {
            font-size: 12px;
            text-indent: 20px;
            display: inline-block;
            margin-top: 5px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .icon {
            position: absolute;
            width: 18px;
            height: 18px;
            top: 10px;
        }
    }

    .rv_holder {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        line-height: 95px;
        text-align: center;
        color: #fff;
        .remark {
            position: absolute;
            right: 5px;
            top: 0;
            color: #666;
            font-size: 18px;
            line-height: 20px;
            height: 20px;
            &.hide {
                display: none;
            }
        }

        .holded{
            &::after {
                background: url("../images/reservation/holder.png") no-repeat center top;
                background-size: 34px 34px;
                content: "占用";
                margin-top: 20px;
                color: #666666;
                text-align: center;
                font-size: 11px;
                display: block;
            }
        }

        .high-holded{
            &::after {
                background: url("../images/reservation/holder_bt.png") no-repeat center top;
                background-size: 34px 34px;
                content: "占用";
                margin-top: 20px;
                color: rgba(255,255,255,0.15);
                text-align: center;
                font-size: 11px;
                display: none;
            }
        }

        &.red {
            background-color: #e03850;
            .holded{
                &::after {
                    background: url("../images/reservation/holder.png") no-repeat center top;
                    background-size: 34px 34px;
                    content: "占用";
                    margin-top: 20px;
                    color: #666666;
                    text-align: center;
                    font-size: 11px;
                    display: none;
                }
            }
    
            .high-holded{
                &::after {
                    background: url("../images/reservation/holder_bt.png") no-repeat center top;
                    background-size: 34px 34px;
                    content: "占用";
                    margin-top: 20px;
                    color: rgba(255,255,255,0.15);
                    text-align: center;
                    font-size: 11px;
                    display: block;
                }
            }
        }

        &.green {
            background-color: #009966;
            .holded{
                &::after {
                    background: url("../images/reservation/holder.png") no-repeat center top;
                    background-size: 34px 34px;
                    content: "占用";
                    margin-top: 20px;
                    color: #666666;
                    text-align: center;
                    font-size: 11px;
                    display: none;
                }
            }
    
            .high-holded{
                &::after {
                    background: url("../images/reservation/holder_bt.png") no-repeat center top;
                    background-size: 34px 34px;
                    content: "占用";
                    margin-top: 20px;
                    color: rgba(255,255,255,0.15);
                    text-align: center;
                    font-size: 11px;
                    display: block;
                }
            }
        }
        &.black {
            background-color: #555;
            .holded{
                &::after {
                    background: url("../images/reservation/holder.png") no-repeat center top;
                    background-size: 34px 34px;
                    content: "占用";
                    margin-top: 20px;
                    color: #666666;
                    text-align: center;
                    font-size: 11px;
                    display: none;
                }
            }
    
            .high-holded{
                &::after {
                    background: url("../images/reservation/holder_bt.png") no-repeat center top;
                    background-size: 34px 34px;
                    content: "占用";
                    margin-top: 20px;
                    color: rgba(255,255,255,0.15);
                    text-align: center;
                    font-size: 11px;
                    display: block;
                }
            }
        }
    }
    .rv_reservation {
        display: block;
        position: absolute;
        text-align: center;
        background-color: rgba(255,250,251,1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        font-size: 12px;
        &::after{
            content: "";
            position: absolute;
            height: 1px;
            width: 74px;
            background-color: rgba(236,236,236,1);
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
        }
        .to_holded{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding-left: 24px;
            padding-top: 16px;
            display: block;
            color: #555;
            width: 100%;
            height: 50%;
            background: url(../images/appointment/appointment-icon3.png) no-repeat 28px 16px;
            background-size: 18px 18px;
            &:hover{
                background: url(../images/appointment/appointment-icon-copy3.png) no-repeat 28px 16px;
                background-size: 18px 18px;
                color: #333;
            }
        }
        .to_appointment {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            padding-left: 24px;
            padding-top: 16px;
            display: block;
            color: #555;
            width: 100%;
            height: 50%;
            background: url(../images/appointment/appointment-icon2.png) no-repeat 28px 16px;
            background-size: 18px 18px;
            &:hover{
                background: url(../images/appointment/appointment-icon-copy2.png) no-repeat 28px 16px;
                background-size: 18px 18px;
                color: #333;
            }
        }
    }
    .rv_item {
        background: #555;
        padding: 0 5px;
        color: #fff;
        height: 95px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        .comment {
            font-size: 11px;
            color: #fff;
            opacity: 0.6;
            margin-top: 3px;
            // height: 50px;
            line-height: 16px;
            height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
           
        }

        .rvname {
            font-size: 13px;
            font-weight: bold;
            margin-top: 22px;
            height: 16px;
            max-width: 100%;
            display: inline-block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            z-index: 1;
            &.good {
                padding-left: 20px;
            }
            .good {
                position: absolute;
                width: 16px;
                height: 15px;
                background: url(../images/good.png) no-repeat;
                background-size: cover;
                cursor: pointer;
                top: 0;
                left: 0;
            }
        }

        .time {
            font-size: 12px;
        }

        .item {
            position: absolute;
            top: 0;
            right: 2px;
            font-size: 11px;
            line-height: 17px;
            width: 17px;
            height: 17px;
            text-align: center;
            background: #e03850;
            color: #fff;
            border-radius: 0 0 2px 2px;
        }

        .badge {
            position: absolute;
            top: 0;
            right: 22px;
            font-size: 11px;
            line-height: 17px;
            width: 17px;
            height: 17px;
            text-align: center;
            background: #f39800;
            color: #fff;
            border-radius: 0 0 2px 2px;
        }

        .fromPhone {
            position: absolute;
            top: 5px;
            left: 5px;
            height: 13px;
            width: 9px;
            background: url("../images/reservation/fromPhone.png") no-repeat center center;
            background-size: contain;
        }
        .seeItems {
            position: absolute;
            height: 15px;
            bottom: 2px;
            right: 2px;
            border-radius: 2px;
            line-height: 15px;
            font-size: 11px;
            padding: 2px;
            background-color: rgba(250, 235, 215, 0.2);
            z-index: 1;
        }
        .promise {
            position: absolute;
            height: 15px;
            bottom: 3px;
            left: 5px;
            border-radius: 2px;
            line-height: 15px;
            font-size: 11px;
            z-index: 1;
            opacity: 0.6;
            .icon {
                width: 12px;
                height: 12px;
                display: inline-block;
                vertical-align: top;
            }
        }
        &.red {
            background: #e03850;

            .item {
                background: #f39800;
            }
        }

        &.green {
            background: #009966;
        }
        &.payed::before {
            content: '';
            position: absolute;
            width: 62px;
            height: 62px;
            right: 0;
            bottom: 0;
            background: url(../images/rv_payed.png);
            background-size: 100% 100%;
        }
        &.hilight {
            box-shadow:-5px 0 5px rgba(255,156,0,0.5),5px 0 5px rgba(255,156,0,0.5), 0 -5px 5px rgba(255,156,0,0.5), 0 5px 5px rgba(255,156,0,0.5); 
            z-index: 9;
        }
    }

    &.simple {
        .toggleMode {
            height: 52px;
            top: 0;
            border: none;
            p {
                line-height: 52px;
            }
            span {
                margin: 15px 5px;
            }
        }
        .bgStatus {
            display: block;
        }
        .rv_scroll {
            top: 52px;
            #page-mainTable {
                thead {
                    height: 44px;
                    display: block;
                    border-top: 1px solid;
                }
                tbody {
                    display: block;
                    margin-left: 94px;
                    tr {
                        width: 96px;
                        float: left;
                        td {
                            &.user {
                                display: none;
                            }
                            display: block;
                            width: 100%;
                            height: 49px;
                        }
                    }
                }
            }
            #page-tableHeaderX {
                th {
                    display: block;
                    height: 50px;
                    line-height: 50px;
                    &:first-child {
                        height: 45px;
                    }
                }
            }
            #page-tableHeaderY {
                z-index: 51;
                thead {
                    display: none;
                }
                tbody {
                    height: 44px;
                    overflow: hidden;
                    display: block;
                    margin-left: 94px;
                }
                tr {
                    width: 96px;
                    height: 44px;
                    float: left;
                    td.user {
                        width: 96px;
                        height: 42px;
                        overflow: hidden;
                        .header,.level {
                            display: none;
                        }
                        .name {
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            line-height: 42px;
                            width: 72px;
                            padding: 0 7px;
                        }
                        .icon-dian {
                            transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            right: -5px;
                            top: 7px;
                        }
                        .icon-xiujia {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            z-index: 9;
                            right: -3px;
                            top: 50%;
                            margin-top: -15px;
                        }
                        .icon-xiujia::before {
                            top: 10px;
                            content: '休';
                            color: #fff;
                            font-weight: normal;
                            background-color: #555;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            top: 5px;
                            left: 5px;
                            line-height: 20px;
                            transform: scale(0.7);
                            -webkit-transform: scale(0.7);
                        }
                        .prefix-shift {
                            display: none;
                        }
                    }
                }
            }
            .rv_table {
                td {
                    .user {
                        height: 49px;
                        overflow: hidden;
                    }
                }
                .rv_remark {
                    width: 89px;
                    height: 37px;
                    padding: 3px;
                    overflow: hidden;
                    .comment {
                        -webkit-line-clamp: 2;
                    }
                    .icon {
                        top: 8px;
                    }
                }
                .rv_holder {
                    width: 95px;
                    height: 49px;
                    line-height: 49px;
                    overflow: hidden;
                    .holded::after,.high-holded::after {
                        background-position: left 13px;
                        background-size: 22px 22px;
                        margin-top: 0;
                        text-align: left;
                        padding-left: 30px;
                        line-height: 49px;
                        margin-left: 20px;
                    }
                }
                .rv_show {
                    height: 49px;
                    .rv_item {
                        height: 49px;
                        .comment,.item,.fromPhone,.seeItems,.promise {
                            display: none !important;
                        }
                        .badge {
                            transform: scale(0.8);
                            transform-origin: right top;
                        }
                        .rvname {
                            margin-top: 10px;
                        }
                        &.payed::before {
                            transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            transform-origin: right bottom;
                            -webkit-transform-origin: right bottom;
                        }
                    }
                }
                .rv_rest {
                    height: 49px;
                    overflow: hidden;
                    .icon1 {
                        display: none;
                    }
                    .icon2 {
                        display: block;
                    }
                }
                .rv_reservation {
                    .to_holded,.to_appointment {
                        width: 50%;
                        height: 100%;
                        float: left;
                        background-position: 2px center;
                        padding-left: 16px;
                        background: none;
                        padding-left: 0;
                    }
                    &::after {
                        width: 1px;
                        height: 36px;
                    }
                }
            }
        }
        &.am-full {
            .rv_scroll {
                top: 50px;
            }
            .EmpScrollTipLeft,.EmpScrollTipRight {
                top: 51px;
            }
        }
        .appointment-btn,.rv_btns {
            top: 5px;
        }
        .rv_timeline {
            left: 0;
            right: 0;
            top: auto;
            bottom: auto;
            width: auto;;
            height: 1px;
        }
        &.EmpScrollTip {
            .EmpScrollTipLeft,.EmpScrollTipRight {
                display: block;
            }
        }
    }
}

.popup_reservationDetail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    > .content {
        width: 400px;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: #fff;
        color: #222222;

        > .title {
            line-height: 130px;
            font-size: 29px;
            padding: 0 40px;
        }
        > .resScrollWrap {
            position: absolute;
            top: 130px;
            right: 0;
            bottom: 185px;
            left: 0;
            overflow: hidden;

            > .resScrollWrapper {
                padding-bottom: 20px;
                >.infoarea,
                >.timearea {
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -14px;
                        height: 28px;
                        width: 28px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-color: #fff;
                    }
                }

                >.itemarea {
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -14px;
                        height: 28px;
                        width: 28px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-color: #fff;
                    }
                }

                >.infoarea {
                    position: relative;
                    margin: 0 45px 0 50px;
                    padding: 0 0 60px 36px;
                    border-left: #dddddd 1px solid;

                    &.newInfoarea {
                        padding: 0 0 10px 36px;
                    }

                    &::before {
                        background-image: url("../images/reservation/detailIcon1.png");
                    }

                    >.line1 {
                        line-height: 27px;
                        color: #222222;
                        font-size: 18px;
                    }

                    >.line2 {
                        padding: 5px 0;

                        >span {
                            display: inline-block;
                            line-height: 19px;
                            padding: 0 10px;
                            background: #555555;
                            border-radius: 2px;
                            text-align: center;
                            color: #fff;
                            font-size: 12px;

                            &.category {
                                background: #e82742;
                            }
                        }
                    }

                    >.comment {
                        padding: 12px 0;
                        font-size: 13px;
                        color: #999999;
                    }
                }

                >.itemarea {
                    position: relative;
                    margin: 0 45px 0 50px;
                    padding: 0 0 20px 36px;
                    border-left: #dddddd 1px solid;
                    line-height: 27px;
                    color: #222222;
                    font-size: 18px;

                    .itemline2 {
                        overflow: hidden;
                        background: #f1f1f1;
                        border-radius: 2px;
                        margin-top: 12px;
                        // max-height: 150px;

                        .items {
                            .itemP {
                                height: 40px;
                                line-height: 40px;
                                padding-left: 40px;
                                background: url("../images/reservation/itemIcon.png") no-repeat 14px center;
                                background-size: 11px 12px;
                            }
                        }
                    }

                    .itemComment {
                        padding: 12px 0;
                        font-size: 13px;
                        color: #999999;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }

                    &::before {
                        background-image: url("../images/reservation/detailIcon3.png");
                    }
                }

                >.timearea {
                    position: relative;
                    margin: 0 45px 0 50px;
                    padding-left: 36px;
                    border-left: #dddddd 1px solid;
                    line-height: 27px;
                    color: #222222;
                    font-size: 18px;

                    &::before {
                        background-image: url("../images/reservation/detailIcon2.png");
                    }

                    >.modifyBtn {
                        width: 58px;
                        height: 25px;
                        display: block;
                        float: right;
                        border: #bbbbbb 1px solid;
                        border-radius: 25px;
                        color: #666666;
                        text-align: center;
                        padding-left: 17px;
                        font-size: 12px;
                        background: url("../images/reservation/modifyBtnIcon.png") no-repeat 16px center;
                        background-size: 12px 15px;

                        &.am-clickable-active {
                            background-color: #eee;
                        }
                    }

                    >.promise {
                        display: block;
                        font-size: 13px;
                        color: #333;
                        height: 20px;
                        line-height: 20px;

                        .icon {
                            width: 12px;
                            height: 12px;
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 4px;
                        }
                    }
                }

                >.commentWrap {
                    position: relative;
                    margin: 50px 45px 0 50px;
                    padding: 0 0 20px 36px;
                    // width: 258px;
                    line-height: 22px;
                    display: block;
                    
                    // padding-left: 36px;
                    color: #999999;

                    &:before {
                        content: '备注';
                        display: inline-block;
                        position: absolute;
                        left: 36px;
                        top: -24px;
                        font-size: 12px;
                    }

                    .commentTxt {
                        box-sizing: border-box;
                        width: 100%;
                        height: 80px;
                        line-height: 25px;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        padding: 10px;
                        font-size: 14px;
                        resize: none;
                        color: #222;
                    }
                }

            }
        }
        

        > .action {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 45px 0 50px;

            > span {
                line-height: 44px;
                height: 44px;
                display: block;
                overflow: hidden;
                margin-bottom: 14px;
                border-radius: 3px;
                text-align: center;
                font-size: 15px;

                &.button {
                    background: #555555;
                    color: #fff;

                    &.am-clickable-active {
                        background: #999;
                    }
                }

                &.link {
                    color: #11a9f0;

                    &.am-clickable-active {
                        background: #eee;
                    }
                }
            }
        }

        &.green {
            > .title {
                color: #32b16c;
            }

            .arrived,
            .cancel,
            .modifyBtn {
                display: none;
            }
        }

        &.red {
            > .title {
                color: #e82742;
            }
        }
        &.payed {
            .gotoCashier {
                display: none;
            }
        }
    }
}
body.fixBottom {
    position: absolute;
    bottom: 0;
}