/* 文字颜色 ***********************/
/* c0* 为黑白灰色系 */
.page_addIncome *,
.page_addIncome:after,
.page_addIncome:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page_addIncome .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.page_addIncome input {
  border: none;
  background-color: transparent;
}
.page_addIncome .container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
}
.page_addIncome .container .left {
  height: 100%;
  float: left;
  width: 60%;
}
.page_addIncome .container .left .wrap {
  height: 62px;
  line-height: 62px;
  border-bottom: 1px solid #ececec;
  padding: 0 20px;
  position: relative;
}
.page_addIncome .container .left .wrap .label {
  height: 62px;
  line-height: 62px;
  color: #666;
}
.page_addIncome .container .left .wrap .val {
  position: absolute;
  top: 0;
  right: 12px;
  color: #222;
  height: 62px;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_addIncome .container .left .wrap .val.add {
  padding-right: 50px;
  min-width: 50%;
}
.page_addIncome .container .left .wrap .val.add::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: -7px -7px 0 0;
  background: url(../images/icons_sprite/add.png) no-repeat 0px 0px;
  background-size: 15px 15px;
  position: absolute;
  left: auto;
  right: 22px;
  top: 50%;
  bottom: auto;
}
.page_addIncome .container .left .wrap .val.add::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #222;
  border-radius: 15px;
  position: absolute;
  left: auto;
  right: 22px;
  top: 50%;
  bottom: auto;
  margin: -13px -13px 0 0;
}
.page_addIncome .container .left .wrap .val.edit {
  padding-right: 50px;
}
.page_addIncome .container .left .wrap .val.edit::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: -7px -7px 0 0;
  background: url(../images/icons_sprite/edit.png) no-repeat 0px 0px;
  background-size: 15px 15px;
  position: absolute;
  left: auto;
  right: 22px;
  top: 50%;
  bottom: auto;
}
.page_addIncome .container .left .wrap .val.edit::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #222;
  border-radius: 15px;
  position: absolute;
  left: auto;
  right: 22px;
  top: 50%;
  bottom: auto;
  margin: -13px -13px 0 0;
}
.page_addIncome .container .left .wrap .unit,
.page_addIncome .container .left .wrap .placeholder,
.page_addIncome .container .left .wrap .num {
  font-size: 36px;
  color: #e82742;
  height: 62px;
  line-height: 62px;
  float: right;
  overflow: hidden;
}
.page_addIncome .container .left .wrap .placeholder {
  color: #d8d8d8;
}
.page_addIncome .container .left .wrap .num {
  display: none;
}
.page_addIncome .container .left .wrap.hasInput .placeholder {
  display: none;
}
.page_addIncome .container .left .wrap.hasInput .num {
  display: block;
}
.page_addIncome .container .left .wrap.debtPrice .num {
  display: block;
}
.page_addIncome .container .left .wrap.hasGetData::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
.page_addIncome .container .left .wrapper {
  border-bottom: 1px solid #ececec;
}
.page_addIncome .container .left .wrapper .wrap {
  height: 44px;
  line-height: 44px;
  border: none;
}
.page_addIncome .container .left .wrapper .wrap:hover {
  background-color: #ececec;
}
.page_addIncome .container .left .wrapper .wrap .label {
  height: 44px;
  line-height: 44px;
}
.page_addIncome .container .left .wrapper .wrap .val {
  height: 44px;
}
.page_addIncome .container .left .payTypes .title {
  line-height: 48px;
  padding: 0 20px;
  color: #666;
}
.page_addIncome .container .left .payTypes ul {
  padding: 0 10px;
}
.page_addIncome .container .left .payTypes ul li {
  line-height: 15px;
  width: 90px;
  height: 130px;
  font-size: 12px;
  text-align: center;
  float: left;
  position: relative;
}
.page_addIncome .container .left .payTypes ul li::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.page_addIncome .container .left .payTypes ul li.pay_cash::before {
  background: url("../images/icons_sprite/pay_cash.png") no-repeat 0px 0px;
  background-size: 80px 80px;
}
.page_addIncome .container .left .payTypes ul li.pay_pos::before {
  background: url("../images/icons_sprite/pay_pos.png") no-repeat 0px 0px;
  background-size: 80px 80px;
}
.page_addIncome .container .left .payTypes ul li.pay_wechat::before {
  background: url("../images/icons_sprite/pay_wechat.png") no-repeat 0px 0px;
  background-size: 80px 80px;
}
.page_addIncome .container .left .payTypes ul li.pay_alipay::before {
  background: url("../images/icons_sprite/pay_alipay.png") no-repeat 0px 0px;
  background-size: 80px 80px;
}
.page_addIncome .container .left .payTypes ul li span {
  display: none;
  width: 66px;
  height: 66px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  position: absolute;
  left: 50%;
  right: auto;
  top: 7px;
  bottom: auto;
  margin: 0 0 0 -33px;
}
.page_addIncome .container .left .payTypes ul li span::before {
  content: "";
  position: absolute;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  background: #ececec;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 10px;
}
.page_addIncome .container .left .payTypes ul li span::after {
  content: "";
  position: absolute;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  background: url("../images/icons_sprite/selected.png") no-repeat 0px 0px;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  margin: -8px 0 0 -7px;
}
.page_addIncome .container .left .payTypes ul li b {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -9px;
  display: block;
  width: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: inherit;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 0 0 #DDDDDD;
  border-radius: 2px;
}
.page_addIncome .container .left .payTypes ul li.selected span {
  display: block;
}
.page_addIncome .container .left .payTypes ul li.payed span::before {
  background: #58d56d;
}
.page_addIncome .container .left .payTypes ul li.am-disabled {
  opacity: 0.3;
}
.page_addIncome .container .right {
  height: 100%;
  float: right;
  width: 40%;
  position: relative;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}
.page_addIncome .container .right .payTip {
  display: none;
  text-align: center;
}
.page_addIncome .container .right .payTip .lineGray {
  color: #999;
  line-height: 30px;
  padding-bottom: 5px;
}
.page_addIncome .container .right .payTip .lineMain {
  font-size: 20px;
}
.page_addIncome .container .right .payTip .lineMain .highlight {
  color: #e82742;
}
.page_addIncome .container .right .payTip .lineSmall {
  line-height: 30px;
}
.page_addIncome .container .right .payTip::before {
  content: "";
  display: block;
  margin: 150px auto 0 auto;
  width: 120px;
  height: 120px;
}
.page_addIncome .container .right .payTip.cash::before {
  background: url("../images/tipbg_sprite.png") no-repeat 0px -930px;
  background-size: 255px 1055px;
}
.page_addIncome .container .right .payTip.pos::before {
  background: url("../images/tipbg_sprite.png") no-repeat -125px -930px;
  background-size: 255px 1055px;
}
.page_addIncome .container .right::before {
  content: "";
  position: absolute;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  width: 250px;
  height: 150px;
  margin: -125px 0 0 -125px;
  display: none;
}
.page_addIncome .container .right.cash .cash {
  display: block;
}
.page_addIncome .container .right.pos .pos {
  display: block;
}
.page_addIncome .container .right.pay_cash1::before {
  display: block;
  background: url("../images/tipbg_sprite.png") no-repeat 0px -310px;
  background-size: 255px 1055px;
}
.page_addIncome .container .right.alipay::before {
  display: block;
  background: url("../images/tipbg_sprite.png") no-repeat 0px 0px;
  background-size: 255px 1055px;
}
.page_addIncome .container .right.wechat::before {
  display: block;
  background: url("../images/tipbg_sprite.png") no-repeat 0px -775px;
  background-size: 255px 1055px;
}
.page_addIncome .container .debtMode {
  display: none;
}
.page_addIncome .container.debt .debtMode {
  display: block;
}
.page_addIncome .container.debt .incomeMode {
  display: none;
}
.page_addIncome .smt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: #e82742;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.page_addIncome .payDetail *,
.page_addIncome .payDetail:after,
.page_addIncome .payDetail:before {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.page_addIncome .remain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.page_addIncome .remain .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.page_addIncome .remain .wrapper {
  position: absolute;
  width: 470px;
  height: 320px;
  left: 50%;
  top: 50%;
  margin-left: -235px;
  margin-top: -160px;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 65px;
}
.page_addIncome .remain .wrapper .icon {
  width: 60px;
  height: 60px;
  background: #58d56d url(../images/add-queue-selected.png) center center no-repeat;
  background-size: 25px 16px;
  border-radius: 50%;
  margin: 0 auto;
}
.page_addIncome .remain .wrapper .des {
  font-size: 17px;
  color: #222;
  text-align: center;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  margin-top: 20px;
}
.page_addIncome .remain .wrapper .des span {
  color: #e82742;
}
.page_addIncome .remain .wrapper .tip {
  font-size: 12px;
  color: #999;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
}
.page_addIncome .remain .wrapper .btns {
  width: 350px;
  height: 44px;
  margin: 30px auto 0;
}
.page_addIncome .remain .wrapper .btns .left,
.page_addIncome .remain .wrapper .btns .right {
  width: 165px;
  height: 44px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 44px;
  border-radius: 5px;
  background-color: #555;
  float: left;
}
.page_addIncome .remain .wrapper .btns .right {
  background-color: transparent;
  color: #222;
  border: 1px solid #ddd;
  float: right;
}
.page_addIncome .remain .wrapper .close {
  width: 15px;
  height: 15px;
  display: block;
  top: 20px;
  right: 20px;
  position: absolute;
  z-index: 3;
  background: url("../images/icons_sprite/close_employee.png") no-repeat 0px 0px;
  background-size: 15px 15px;
}
