/* 文字颜色 ***********************/
/* c0* 为黑白灰色系 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page_openbill *,
.page_openbill:after,
.page_openbill:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page_openbill .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.page_openbill input {
  border: none;
  background-color: transparent;
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(1) span {
  width: 25px;
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(1) span::before {
  content: "+键";
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(2) span {
  font-size: 20px;
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(2) span::before {
  content: "*";
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(3) span::before {
  top: 0px;
  left: 6px;
  content: "-";
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(4) span {
  width: 64px;
}
.page_openbill .keypadWrap .keypadInner .given li:nth-of-type(4) span::before {
  content: "回车键*3次";
}
.page_openbill .keypadWrap .keypadInner .currencyDiv .currency li:nth-of-type(1) span::before {
  left: 6px;
  content: "/";
}
.page_openbill .keypadWrap .keypadInner .currencyDiv .currency li:nth-of-type(2) span {
  width: 45px;
}
.page_openbill .keypadWrap .keypadInner .currencyDiv .currency li:nth-of-type(2) span::before {
  content: "回车键";
}
.page_openbill .head {
  position: absolute;
  width: 100%;
  height: 55px;
  top: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ececec;
}
.page_openbill .head .back {
  position: absolute;
  display: block;
  margin-left: 10px;
  color: #cfcfcf;
  width: 40px;
  height: 100%;
  line-height: 53px;
  font-size: 30px;
  /* position: absolute;
			width: 54px;
			height: 100%;
			top: 0;
			left: 0;
			background: url(../images/openbill-back.png) no-repeat center center;
			background-size: 27px 27px; */
}
.page_openbill .head .mid {
  position: absolute;
  height: 100%;
  left: 54px;
  right: 150px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.page_openbill .head .mid.edit {
  right: 0;
  border-right: none;
}
.page_openbill .head .mid .num {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 0;
  top: 7px;
  display: none;
}
.page_openbill .head .mid .num p {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_openbill .head .mid .num p:first-child {
  font-size: 24px;
  color: #e82742;
  line-height: 24px;
  height: 24px;
}
.page_openbill .head .mid .num p:last-child {
  font-size: 12px;
  color: #999;
  line-height: 16px;
  height: 16px;
}
.page_openbill .head .mid .autoDisplayId {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 0;
  top: 7px;
  text-align: center;
}
.page_openbill .head .mid .autoDisplayId .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  position: relative;
  margin-top: 6px;
}
.page_openbill .head .mid .autoDisplayId .icon .iconfont {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: none;
}
.page_openbill .head .mid .autoDisplayId p {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #555;
  line-height: 16px;
  text-align: left;
  padding-top: 4px;
}
.page_openbill .head .mid .autoDisplayId.autoId .icon {
  border: none;
}
.page_openbill .head .mid .autoDisplayId.autoId .icon .iconfont {
  display: block;
}
.page_openbill .head .mid .billInfo {
  position: absolute;
  left: 80px;
  right: 370px;
  height: 40px;
  top: 7px;
  border-left: 1px solid #ececec;
}
.page_openbill .head .mid .billInfo .billno_box {
  width: 30%;
  height: 40px;
  float: left;
  padding: 0 18px;
  border-right: 1px solid #ececec;
}
.page_openbill .head .mid .billInfo .billno_box .label,
.page_openbill .head .mid .billInfo .billno_box .wrapper {
  display: block;
  height: 16px;
  line-height: 16px;
  color: #999;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_openbill .head .mid .billInfo .billno_box .wrapper {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #222;
  font-weight: bold;
}
.page_openbill .head .mid .billInfo .remarkboxwrap {
  width: 100%;
  height: 40px;
  border-right: 1px solid #ececec;
  float: left;
  overflow: hidden;
}
.page_openbill .head .mid .billInfo .remarkboxwrap.edit {
  width: 70%;
}
.page_openbill .head .mid .billInfo .remark_box {
  display: inline-block;
  max-width: 100%;
  max-height: 40px;
  float: left;
  padding-left: 18px;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  position: relative;
  padding-right: 20px;
}
.page_openbill .head .mid .billInfo .remark_box::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  background: url(../images/card_edit_white_icon.png) no-repeat center center;
  background-size: 11px 14px;
}
.page_openbill .head .mid .memberInfo {
  position: absolute;
  width: 370px;
  height: 40px;
  top: 7px;
  right: 0px;
  padding: 0 15px;
}
.page_openbill .head .mid .memberInfo .member {
  float: right;
}
.page_openbill .head .mid .memberInfo .member .header {
  width: 40px;
  height: 40px;
  background: #e6e6e6 url(../images/openbill-customer.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  overflow: hidden;
  float: right;
}
.page_openbill .head .mid .memberInfo .member .header img {
  width: 100%;
  height: 100%;
}
.page_openbill .head .mid .memberInfo .member .header.lock {
  position: relative;
}
.page_openbill .head .mid .memberInfo .member .header.lock::after {
  content: "\e690";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.page_openbill .head .mid .memberInfo .member .name {
  margin-left: 10px;
  max-width: 80px;
  height: 40px;
  font-size: 16px;
  color: #e82742;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: right;
}
.page_openbill .head .mid .memberInfo .sex {
  width: 80px;
  float: right;
  margin: 0 10px;
}
.page_openbill .head .mid .memberInfo .sex li {
  width: 28px;
  height: 28px;
  background-color: #eee;
  border-radius: 50%;
  float: left;
  margin: 6px;
  font-size: 12px;
  color: #555;
  text-align: center;
  line-height: 28px;
}
.page_openbill .head .mid .memberInfo .sex li.active {
  color: #fff;
  background-color: #555;
}
.page_openbill .head .mid .memberInfo .customerSource {
  height: 40px;
  top: 7px;
  float: right;
  width: 109px;
}
.page_openbill .head .mid .memberInfo .customerSource input {
  border: 1px solid #dddddd;
  cursor: pointer;
  height: 30px;
  margin: 5px 0;
  width: 109px;
  padding-left: 10px;
  border-radius: 15px;
  color: #555;
  font-size: 12px;
}
.page_openbill .head .mid .memberInfo .customerSource .icon {
  color: #999;
  position: absolute;
  right: 28px;
  top: 12px;
  width: 15px;
  height: 15px;
}
.page_openbill .head .right {
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
}
.page_openbill .head .right.disabled {
  opacity: 0.5;
}
.page_openbill .head .right .wrap {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 8px;
}
.page_openbill .head .right .wrap:first-child {
  border-right: 1px solid #ececec;
}
.page_openbill .head .right .wrap .icon {
  width: 22px;
  height: 22px;
  margin: 0 auto;
}
.page_openbill .head .right .wrap p {
  font-size: 12px;
  color: #666;
  text-align: center;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
.page_openbill .head .right .wrap.memberOpen:hover {
  background-color: #f5f5f5;
}
.page_openbill .head .right .wrap.orderOpen:hover {
  background-color: #f5f5f5;
}
.page_openbill .head .right .wrap.orderOpen .num {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #f39800;
  border-radius: 18px;
  right: 13px;
  top: 7px;
  color: #282828;
  font-size: 12px;
  text-align: center;
  line-height: 21px;
}
.page_openbill .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 44px;
  overflow: hidden;
}
.page_openbill .content .tip {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10px;
  z-index: 9;
}
.page_openbill .content .tip p {
  font-size: 12px;
  color: #e82742;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.page_openbill .content .tip .closeTip {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 8px;
  background-image: url("../images/icons_sprite/input_clear_icon.png");
  background-position: 0px 0px;
  background-size: 16px 16px;
}
.page_openbill .content .changeView {
  position: absolute;
  float: right;
  right: 20px;
  color: #999;
  font-size: 12px;
  top: 18px;
  z-index: 10;
}
.page_openbill .content .list {
  padding: 6px 6px 6px 10px;
}
.page_openbill .content .list .wrapper {
  margin-top: 14px;
}
.page_openbill .content .list .wrapper li {
  border: 1px solid transparent;
}
.page_openbill .content .list .wrapper .availableTrue {
  border: 1px solid #FFC424;
  box-shadow: 0 2px 10px 0 rgba(255, 236, 138, 0.69);
  border-radius: 5px 0 0 0 5px 5px 5px;
}
.page_openbill .content .list .wrapper .availableTrue::after {
  position: absolute;
  left: 50%;
  bottom: -2px;
  content: " ";
  width: 48px;
  height: 4px;
  margin-left: -24px;
  background: #FFC424;
  box-shadow: 0 0 15px 0 #FFC424;
  border-radius: 5px;
}
.page_openbill .content .list .wrapper li.am-disabled {
  opacity: 0.5;
}
.page_openbill .content .list .type {
  font-size: 12px;
  color: #999;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  padding-left: 4px;
}
.page_openbill .content .list .wrap {
  display: flex;
  flex-wrap: wrap;
}
.page_openbill .content .list li {
  flex-shrink: 0;
  order: 1;
  width: 78px;
  height: 110px;
  margin: 6px 6px 6px 0;
  float: left;
  border-radius: 5px;
  position: relative;
  background-color: #5dae72;
  color: #fff;
}
.page_openbill .content .list li.disabled {
  opacity: 0.5;
}
.page_openbill .content .list li.status4 {
  background-color: #e59b37;
}
.page_openbill .content .list li.status4 .time {
  background: url(../images/openbill-time.png) no-repeat 52px center;
  background-size: 11px 12px;
}
.page_openbill .content .list li.status2 {
  background-color: #e82742;
}
.page_openbill .content .list li.status1 {
  background-color: #5dae72;
}
.page_openbill .content .list li.status3 {
  background-color: #555;
}
.page_openbill .content .list li.status5 {
  background-color: #677DC4;
}
.page_openbill .content .list li .outside {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.page_openbill .content .list li .no {
  max-width: 45px;
  margin-left: 16px;
  height: 13px;
  text-align: center;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 0px 0px 5px 5px;
  font-size: 10px;
  font-weight: bold;
}
.page_openbill .content .list li .name {
  color: #fff;
  left: 14px;
  line-height: 12px;
  width: 48px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px 4px 15px;
}
.page_openbill .content .list li .header {
  position: absolute;
  width: 78px;
  height: 78px;
  left: -1px;
  top: 32px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  background: #e2e2e2 url(../images/openbill-emp.png) no-repeat bottom center;
  background-size: 27px 45px;
  background-position: 25px 15px;
}
.page_openbill .content .list li .header img {
  width: 100%;
  height: 100%;
}
.page_openbill .content .list li .time {
  z-index: 1;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 48px;
  padding-left: 1px;
  font-size: 10px;
  height: 14px;
}
.page_openbill .content .list li .status {
  z-index: 1;
  position: absolute;
  bottom: -1px;
  right: 1px;
  width: 28px;
  font-size: 10px;
  height: 14px;
  text-align: center;
  line-height: 14px;
}
.page_openbill .content .list li .status.bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
}
.page_openbill .content .list li .footer {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 78px;
  height: 14px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
  color: #fff;
}
.page_openbill .content .list li .footer.hide {
  background: none;
}
.page_openbill .content .list li .no,
.page_openbill .content .list li .name,
.page_openbill .content .list li .time,
.page_openbill .content .list li .status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_openbill .content .list li .inside {
  z-index: 2;
  position: absolute;
  left: -1px;
  top: 0;
  right: -1px;
  bottom: 0;
  display: none;
}
.page_openbill .content .list li .inside::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: 4px;
  top: -10px;
  border-radius: 50%;
  background: #e82742 url(../images/openbill-selected.png);
  background-size: 100% 100%;
}
.page_openbill .content .list li .inside .top {
  content: '';
  position: absolute;
  width: 100%;
  height: 32px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 0 0;
}
.page_openbill .content .list li .inside .inside-content {
  position: absolute;
  width: 100%;
  top: 32px;
  bottom: -1px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 5px 5px;
}
.page_openbill .content .list li .inside .inside-content .inside-content-wrap {
  position: absolute;
  width: 100%;
  bottom: 24px;
}
.page_openbill .content .list li .inside .inside-content .role {
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
.page_openbill .content .list li .inside .inside-content .option {
  font-size: 0;
  text-align: center;
}
.page_openbill .content .list li .inside .inside-content .option .appoint {
  display: inline-block;
  width: 50px;
  height: 24px;
  border-radius: 24px;
  background-color: #7d7d7d;
  position: relative;
}
.page_openbill .content .list li .inside .inside-content .option .appoint .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f8f9;
  left: 2px;
  right: auto;
  top: 2px;
}
.page_openbill .content .list li .inside .inside-content .option .appoint p {
  position: absolute;
  width: 100%;
  top: 100%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
.page_openbill .content .list li .inside .inside-content .option .wash {
  display: inline-block;
  width: 30px;
  height: 24px;
  position: relative;
  display: none;
}
.page_openbill .content .list li .inside .inside-content .option .wash .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 2px;
  background-color: #7d7d7d;
  background-image: url(../images/selectReason.png);
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center center;
  border-radius: 50%;
}
.page_openbill .content .list li .inside .inside-content .option .wash p {
  position: absolute;
  width: 100%;
  top: 100%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
.page_openbill .content .list li .inside .inside-content .option .appoint.yes {
  background-color: #42a2de;
}
.page_openbill .content .list li .inside .inside-content .option .appoint.yes .icon {
  left: auto;
  right: 2px;
}
.page_openbill .content .list li .inside .inside-content .option .wash.washing .icon {
  background-color: #42a2de;
}
.page_openbill .content .list li.active .inside {
  display: block;
}
.page_openbill .content .list li.notWash .inside .inside-content .option .appoint {
  width: 50px;
}
.page_openbill .content .list li.notWash .inside .inside-content .option .wash {
  display: none;
}
.page_openbill .content.smallView .list {
  padding: 6px 6px 6px 10px;
}
.page_openbill .content.smallView .wrapper {
  margin-top: 14px;
  position: relative;
}
.page_openbill .content.smallView .wrapper .loadingWrap {
  position: absolute;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.page_openbill .content.smallView .wrapper .loadingWrap .page-modalLoading-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.page_openbill .content.smallView .type {
  font-size: 12px;
  color: #999;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  padding-left: 4px;
}
.page_openbill .content.smallView li {
  position: relative;
  width: 78px;
  height: 110px;
  margin: 6px 6px 6px 0;
  float: left;
  border-radius: 4px;
  background: #5dae72;
}
.page_openbill .content.smallView li.am-clickable-active .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 110px;
  border-radius: 4px;
  background: rgba(34, 34, 34, 0.1);
}
.page_openbill .content.smallView li.status4 {
  background-color: #e59b37;
}
.page_openbill .content.smallView li.status4 .time {
  background: url(../images/openbill-time.png) no-repeat 52px center;
  background-size: 11px 12px;
}
.page_openbill .content.smallView li.status2 {
  background-color: #e82742;
}
.page_openbill .content.smallView li.status1 {
  background-color: #5dae72;
}
.page_openbill .content.smallView li.status3 {
  background-color: #555;
}
.page_openbill .content.smallView li.status5 {
  background-color: #677DC4;
}
.page_openbill .content.smallView li.add {
  background: #ececec url(../images/add-queue.png) no-repeat center center;
  background-size: 41px 41px;
}
.page_openbill .content.smallView li .no {
  margin-top: 9px;
  margin-left: 6px;
  max-width: 68px;
  height: unset;
  background: unset;
  border-radius: 0 0 5px 5px;
  text-align: left;
  font-size: 21px;
  color: #fff;
  font-weight: bold;
}
.page_openbill .content.smallView li .name {
  margin: 4px 2px 4px 6px;
  color: #fff;
  left: 14px;
  line-height: 12px;
  width: 60px;
  text-align: unset;
  /* padding-left: 6px; */
  font-size: 12px;
}
.page_openbill .content.smallView li .header {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 6px;
  top: 77px;
  border-radius: 13px;
  overflow: hidden;
  background: #e2e2e2 url(../images/openbill-emp.png) no-repeat bottom center;
  background-size: 16px 21px;
  background-position: 5px 5px;
}
.page_openbill .content.smallView li .header img {
  width: 100%;
  height: 100%;
}
.page_openbill .content.smallView li .time {
  position: absolute;
  top: 55px;
  left: 6px;
  width: 65px;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  color: #fff;
}
.page_openbill .content.smallView li .status {
  position: absolute;
  bottom: 6px;
  right: 2;
  padding: 0 2px;
  height: 14px;
  line-height: 14px;
  text-align: left;
  font-size: 10px;
  color: #fff;
}
.page_openbill .content.smallView li .footer {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1px;
  width: 78px;
  height: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
  color: #fff;
}
.page_openbill .content.smallView li .no,
.page_openbill .content.smallView li .name,
.page_openbill .content.smallView li .time,
.page_openbill .content.smallView li .status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_openbill .submit {
  position: absolute;
  width: 100%;
  height: 44px;
  bottom: 0;
  background-color: #555;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 44px;
}
.page_openbill .submit.keypadPC {
  text-align: initial;
  line-height: initial;
}
.page_openbill .submit.keypadPC .text1 {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -33px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
}
.page_openbill .submit.keypadPC .text2 {
  position: absolute;
  top: 26px;
  left: 50%;
  width: 60px;
  margin-left: -30px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.43);
}
.page_openbill .head .back:hover {
  color: #707070;
}
