@import "var.less";
@path: "../images/";
@import "../images/icons_sprite.less";
.boxSinzig {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.br(@num) {
    border-radius: @num;
    -webkit-border-radius: @num;
}

.ws {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page_workOrder {
    .workOrder {
        text-align: center;
        position: absolute;
        overflow: hidden;
        top: 51px;
        left: 0;
        width: 100%;
        right: 0;
        bottom: 0;
        .qq-btn {
            width: 250px;
            height: 49px;
            line-height: 49px;
            background: #555;
            color: #fff;
            border-radius: 4px;
            margin: 25px auto 0;
            input {
                width: 90px;
                color: #fff;
                border: 0;
                font-size: 17px;
                background: #555;
                &::selection {
                    background: #555;
                }
            }
            &:active {
                background: #282828;
                input {
                    background: #282828;
                }
            }
            .icon-qq {
                font-size: 26px;
                vertical-align: -2px;
            }
            span {
                font-size: 17px;
            }
        }
        .complain-btn {
            position: absolute;
            right: 22px;
            top: 24px;
            color: #999;
            font-size: 12px;
            text-align: right;
            .icon-tousu {
                font-size: 20px;
                vertical-align: -3px;
            }
        }
        .qq-info {
            margin-top: 13px;
            color: #999;
            font-size: 12px;
        }
        .content {
            margin-top: 20px;
            border-top: 1px solid #e9e9e9;
            text-align: left;
            position: absolute;
            top: 98px;
            right: 0;
            bottom: 0;
            left: 0;
            .sub_workOrder {
                width: 300px;
                float: left;
                h3 {
                    margin-top: 30px;
                    position: relative;
                    font-size: 14px;
                    height: 15px;
                    line-height: 15px;
                    color: #222;
                    padding-left: 29px;
                    &::before {
                        content: "";
                        width: 5px;
                        height: 15px;
                        background: red;
                        position: absolute;
                        left: 0;
                    }
                }
                .sub_content {
                    padding: 29px;
                    .label {
                        margin: 10px 0;
                    }
                    textarea {
                        font-size: 14px;
                        width: calc(~"100%" - 30px);
                        height: 76px;
                        background: #f7f7f7;
                        padding: 15px;
                        resize: none;
                        border: 0;
                    }
                    input {
                        font-size: 14px;
                        width: calc(~"100%" - 30px);
                        background: #f7f7f7;
                        border: 0;
                        padding: 15px;
                    }
                    .btn {
                        width: 100%;
                        background: #cdcdcd;
                        border-radius: 3px;
                        height: 44px;
                        text-align: center;
                        line-height: 44px;
                        color: #fff;
                        font-size: 15px;
                        margin-top: 24px;
                        &.active {
                            background: #555;
                            &:active {
                                background: #282828;
                            }
                        }
                    }
                    .tip {
                        display: flex;
                        margin-top: 10px;
                        color: #999;
                        i {
                            margin-right: 5px;
                        }
                        span {
                            color: #999;
                            font-size: 12px;
                        }
                    }
                }
            }
            .table {
                overflow: hidden;
                border-left: 1px solid #e9e9e9;
                float: right;
                position: absolute;
                top: 0px;
                right: 0;
                bottom: 0;
                left: 307px;
                table {
                    table-layout: fixed;
                    thead {
                        &.hide {
                            display: none;
                        }
                    }
                }
                .table-head {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 42px;
                }
                .table-content,
                .table-empty {
                    .boxSinzig;
                    position: absolute;
                    top: 42px;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    overflow: hidden;
                }
                .table-empty {
                    display: none;
                    background: url(../images/empty.png) center center no-repeat;
                    background-size: 180px 180px;
                }
                .table-content-list {
                    .boxSinzig;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    top: 0;
                    tr {
                        &:nth-child(2n + 1) {
                            background-color: @bg06;
                        }
                    }
                    thead {
                        tr {
                            th {
                                background: #fff;
                                color: #999;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }
                    th,
                    td {
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        text-align: left;
                        padding: 0 9px;
                        height: 41px;
                        border-right: 1px solid @bd01;
                        border-bottom: 1px solid @bd01;
                    }
                    tr {
                        &:active{
                            background: #e8faff;
                        }
                        td:nth-child(1) {
                            &:active input {
                                // color: #93d4e7;
                            }
                            input {
                                width: 55px;
                                display: inline-block;
                                cursor: pointer;
                                font-size: 14px;
                                border: 0;
                                // color: #00b7ee;
                                background: none;
                                text-overflow: ellipsis;
                            }
                            i {
                                color: #ccc;
                                cursor: pointer;
                                &:active {
                                    color: #222;
                                }
                            }
                        }
                        th:nth-child(1),
                        td:nth-child(1) {
                            width: 7%;
                        }
                        th:nth-child(2),
                        td:nth-child(2) {
                            width: 12%;
                        }
                        th:nth-child(3),
                        td:nth-child(3) {
                            width: 5%;
                        }
                        th:nth-child(4),
                        td:nth-child(4) {
                            width: 7%;
                        }
                        th:nth-child(5),
                        td:nth-child(5) {
                            width: 5%;
                        }
                        th:nth-child(6),
                        td:nth-child(6) {
                            width: 5%;
                        }
                        th:nth-child(7),
                        td:nth-child(7) {
                            width: 5%;
                        }
                        th:nth-child(8),
                        td:nth-child(8) {
                            width: 5%;
                        }
                    }
                }
            }
        }
    }
}
