@import "var.less";
@path:"../images/";
@import "../images/icons_sprite.less";
#page_prepay{
	.prepayContent{
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 51px;
	    bottom: 0;
	    .prepay_wrap{
	    	position: absolute;
	    	width:100%;
	    	height:532px;
	    	margin:auto;
	    	top:0;
	    	left:0;
	    	right:0;
	    	bottom:0;
			text-align: center;
			.title {
				height: 60px;
				text-align: center;
				.subtitle {
					display: inline-block;
					vertical-align: top;
					font-size: 18px;
					color: #333;
					line-height: 60px;
					height: 60px;
					&:first-child {
						color: #E82742;
						max-width: 80%;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
	    	.input_box{
	    		.money_input{
	    			display: inline-block;
	                vertical-align: top;
	                width: 400px;
	                height: 45px;
	                border: 1px solid @bd05;
	                .borderRadius(3px);
	                line-height: 45px;
	                text-align: left;
	                font-size: @fs3;
	                color: @bd05;
	                padding: 0 17px;
	    		}
			}
			.remark {
				height: 60px;
				text-align: center;
				.addRemark,.remarkContent {
					display: inline-block;
					vertical-align: top;
					font-size: 13px;
					line-height: 60px;
					height: 60px;
					position: relative;
					&.hide {
						display: none;
					}
				}
				.addRemark {
					color: #999;
					padding-left: 20px;
					&::before {
						content: '';
						position: absolute;
						width: 20px;
						height: 20px;
						left: 0;
						top: 20px;
						background: url(../images/card_edit_white_icon.png) no-repeat center center;
						background-size: 11px 14px;
					}
					&.am-clickable-active {
						color: #00B7EF;
						&::before {
							background: url(../images/card_edit_blue_icon.png) no-repeat center center;
							background-size: 11px 14px;
						}
					}
				}
				.remarkContent {
					color: #222;
					padding-right: 20px;
					max-width: 80%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					&::before {
						content: '';
						position: absolute;
						width: 20px;
						height: 20px;
						right: 0;
						top: 20px;
						background: url(../images/card_edit_black_icon.png) no-repeat center center;
						background-size: 11px 14px;
					}
				}
			}
			.searchnumber_box {
				margin-top: -45px;
			}
	    	.prepay_btns{
	    		margin: 0 auto;
	    		margin-top:20px;
	    		width:596px;
	    		height: 45px;
	    		font-size: 0px;
	    		.alipay_prepay,.wechat_prepay,.pos_prepay{
	    			display: inline-block;
	    			vertical-align: middle;
	    			width:134px;
	    			height:45px;
	    			line-height: 45px;
	    			text-align: center;
	    			font-size: 0;
	    			border:1px solid #dddddd;
	    			border-radius: 25px;
	    			box-sizing: border-box;
	    		}
	    		.alipay_text,.wechat_text,.pos_text{
	    			margin-left:10px;
	    		}
	    		.alipay_prepay{
	    			.alipay_icon{
	    				display: inline-block;
	    				vertical-align: middle;
	    				line-height: 45px;
	    				width:40px;
	    				height:40px;
	    				// background:url(../images/icon_prepay_alipay.png) no-repeat center center;
						// background-size:40px 40px;
						svg{
							width: 40px;
							height: 40px;
						}
	    			}
	    			
	    		}
	    		.wechat_prepay{
	    			margin-left:20px;
	    			.wechat_icon{
	    				display: inline-block;
	    				vertical-align: middle;
	    				line-height: 45px;
	    				width:40px;
	    				height:40px;
	    				// background:url(../images/icon_prepay_wechat.png) no-repeat left center;
						// background-size:40px 33px;
						svg{
							width: 40px;
							height: 40px;
						}
	    			}
				}
				.pos_prepay{
	    			margin-left:20px;
	    			.pos_icon{
	    				display: inline-block;
	    				vertical-align: middle;
	    				line-height: 45px;
	    				width:40px;
	    				height:40px;
	    				// background:url(../images/icon_prepay_wechat.png) no-repeat left center;
						// background-size:40px 33px;
						svg{
							width: 40px;
							height: 40px;
						}
	    			}
	    		}
	    		.alipay_text,.wechat_text,.pos_text{
	    			display: inline-block;
	    			vertical-align: middle;
					font-size: 14px;
	    		}
	    	}
	    }
	}
}