@charset "utf-8";
/* 文字颜色 ***********************/
/* c0* 为黑白灰色系 */
.page_appointment *,
.page_appointment:after,
.page_appointment:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.page_appointment .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.page_appointment input {
  border: none;
  background-color: transparent;
}
.page_appointment.empty {
  background: #fff url(../images/search_tips.png) no-repeat center center;
  background-size: 212px 247px;
}
.page_appointment .search-wrap {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 85px;
  border-bottom: 1px solid #ececec;
  padding: 20px 45px;
}
.page_appointment .search-wrap .depart {
  height: 44px;
  float: left;
}
.page_appointment .search-wrap .depart li {
  width: 62px;
  height: 44px;
  float: left;
  font-size: 14px;
  color: #222;
  text-align: center;
  line-height: 42px;
  border: 1px solid #dddddd;
}
.page_appointment .search-wrap .depart li:first-child {
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.page_appointment .search-wrap .depart li:last-child {
  border-radius: 0 3px 3px 0;
  border-left: none;
}
.page_appointment .search-wrap .depart li.active {
  background-color: #555;
  color: #fff;
  border-color: #555;
}
.page_appointment .search-wrap .method {
  height: 44px;
  float: left;
  margin-left: 30px;
}
.page_appointment .search-wrap .method li {
  height: 44px;
  font-size: 14px;
  color: #222;
  line-height: 44px;
  float: left;
  margin-right: 20px;
}
.page_appointment .search-wrap .method li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #555;
  vertical-align: top;
  margin: 12px 12px 12px 0;
  padding: 4px;
}
.page_appointment .search-wrap .method li span b {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page_appointment .search-wrap .method li.active span b {
  background-color: #555;
}
.page_appointment .search-wrap .form-wrap {
  width: 290px;
  height: 44px;
  border: 1px solid #222;
  border-radius: 3px;
  float: left;
  position: relative;
  margin-left: 0;
}
.page_appointment .search-wrap .form-wrap .condition {
  height: 42px;
  width: 246px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 42px;
}
.page_appointment .search-wrap .form-wrap .input-mask {
  position: absolute;
  width: 246px;
  height: 42px;
  left: 0;
  top: 0;
}
.page_appointment .search-wrap .form-wrap .search {
  position: absolute;
  height: 42px;
  width: 42px;
  right: 0;
  top: 0;
  background: url(../images/appointment/appointment-search.png) no-repeat center center;
  background-size: 27px 27px;
}
.page_appointment .search-wrap .new {
  height: 44px;
  float: right;
  font-size: 14px;
  color: #222;
  line-height: 44px;
}
.page_appointment .search-wrap .new span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  vertical-align: top;
  margin: 12px 12px 12px 0;
  border-radius: 3px;
}
.page_appointment .search-wrap .new.active span {
  background: #555 url(../images/appointment/appointment-select.png) no-repeat center center;
  background-size: 12px 9px;
}
.page_appointment .create {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #e82742;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  bottom: 0;
  display: none;
}
.page_appointment .content {
  position: absolute;
  width: 100%;
  top: 135px;
  bottom: 50px;
  background-color: #f7f7f7;
  display: none;
}
.page_appointment .content .content-wrapper {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}
.page_appointment .content .content-wrapper .left {
  width: 300px;
  height: 100%;
  float: left;
  position: relative;
}
.page_appointment .content .content-wrapper .left .left-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.page_appointment .content .content-wrapper .left .left-wrapper .find {
  display: none;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .header {
  width: 90px;
  height: 90px;
  border: 4px solid #e9e9e9;
  border-radius: 50%;
  margin: 0 auto 15px;
  background: #dcdcdc url(../images/appointment/appointment-noheadimg.png) no-repeat center center;
  background-size: 80px 80px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .header.good {
  position: relative;
  border: 2px solid #f7d467;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .header.good::before {
  content: "";
  width: 28px;
  height: 26px;
  position: absolute;
  top: -26px;
  left: 50%;
  margin-left: -13px;
  background: url(../images/good.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .header.lock {
  position: relative;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .header.lock::after {
  content: "\e690";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: 86px;
  height: 86px;
  line-height: 86px;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .name-wrapper,
.page_appointment .content .content-wrapper .left .left-wrapper .find .tel,
.page_appointment .content .content-wrapper .left .left-wrapper .find .level {
  font-size: 16px;
  color: #222;
  text-align: center;
  line-height: 24px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .name-wrapper .name,
.page_appointment .content .content-wrapper .left .left-wrapper .find .tel .name,
.page_appointment .content .content-wrapper .left .left-wrapper .find .level .name {
  display: inline-block;
  vertical-align: top;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .name-wrapper .sex,
.page_appointment .content .content-wrapper .left .left-wrapper .find .tel .sex,
.page_appointment .content .content-wrapper .left .left-wrapper .find .level .sex {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .name-wrapper .sex.m,
.page_appointment .content .content-wrapper .left .left-wrapper .find .tel .sex.m,
.page_appointment .content .content-wrapper .left .left-wrapper .find .level .sex.m {
  width: 18px;
  height: 18px;
  margin-top: 3px;
  background: url(../images/icons_sprite.png) no-repeat -82px -975px;
  background-size: 105px 1443.5px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .name-wrapper .sex.f,
.page_appointment .content .content-wrapper .left .left-wrapper .find .tel .sex.f,
.page_appointment .content .content-wrapper .left .left-wrapper .find .level .sex.f {
  width: 14px;
  height: 20px;
  margin-top: 2px;
  background: url(../images/icons_sprite.png) no-repeat -85px -504.5px;
  background-size: 105px 1443.5px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .breakAppointment {
  font-size: 12px;
  color: #222;
  height: 50px;
  line-height: 30px;
  padding-top: 20px;
  overflow: hidden;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .breakAppointment::before {
  content: '!';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #222;
  text-align: center;
  line-height: 12px;
  margin-right: 5px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .level {
  font-size: 14px;
  color: #999;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .wrap {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 20px 30px;
  margin: 20px 0;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .wrap div {
  font-size: 14px;
  color: #999;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .wrap div span {
  color: #222;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .wrap div b {
  visibility: hidden;
}
.page_appointment .content .content-wrapper .left .left-wrapper .find .remark {
  padding: 0 30px;
  font-size: 14px;
  color: #222;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add {
  display: none;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .title {
  font-size: 18px;
  color: #999;
  text-align: center;
  line-height: 40px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .header {
  width: 90px;
  height: 90px;
  border: 4px solid #e9e9e9;
  border-radius: 50%;
  margin: 35px auto;
  overflow: hidden;
  background: #dcdcdc url(../images/appointment/appointment-noheadimg.png) no-repeat center center;
  background-size: 80px 80px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .header img {
  width: 100%;
  height: 100%;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .form {
  height: 44px;
  margin-bottom: 20px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .form span {
  display: inline-block;
  width: 75px;
  height: 44px;
  line-height: 44px;
  float: left;
  font-size: 14px;
  color: #666;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .form .right-part {
  margin-left: 75px;
  height: 44px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .form .right-part .addname,
.page_appointment .content .content-wrapper .left .left-wrapper .add .form .right-part .addtel {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  color: #222;
  padding: 0 16px;
  line-height: 42px;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .form .right-part .selectSex li {
  width: 44px;
  height: 44px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 14px;
  font-size: 14px;
  color: #222;
  text-align: center;
  line-height: 44px;
  float: left;
}
.page_appointment .content .content-wrapper .left .left-wrapper .add .form .right-part .selectSex li.active {
  background-color: #555;
  color: #fff;
}
.page_appointment .content .content-wrapper .right {
  width: 370px;
  height: 100%;
  float: right;
  position: relative;
}
.page_appointment .content .content-wrapper .right .right-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.page_appointment .content .content-wrapper .right .right-wrapper .title {
  font-size: 16px;
  color: #fff;
  padding-left: 160px;
  line-height: 50px;
  height: 50px;
  background: #555 url(../images/storage/storage-edit-barcode.png) no-repeat 140px center;
  background-size: 12px 15px;
  position: relative;
}
.page_appointment .content .content-wrapper .right .right-wrapper .title::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #555;
  position: absolute;
  left: -6px;
  top: 10px;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group {
  padding: 30px 0 20px;
  background-color: #fff;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form {
  height: 44px;
  width: 310px;
  margin: 0 auto 16px;
  font-size: 0;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form:first-child .shift-info {
  padding-left: 14px;
  margin-left: 90px;
  font-size: 12px;
  background: url(../images/appointment/appointment-time.png) no-repeat 0;
  background-size: 12px 12px;
  color: #999999;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form span {
  display: inline-block;
  vertical-align: top;
  width: 84px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #858585;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form .right-part {
  display: inline-block;
  vertical-align: top;
  width: 226px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 14px;
  background: url(../images/storage/storage-arrow.png) no-repeat 204px center;
  background-size: 6px 6px;
  font-size: 14px;
  color: #222;
  line-height: 42px;
  padding-right: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form .right-part .item-span {
  height: 22px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  width: auto;
  margin-right: 10px;
  color: #222;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form .right-part .date {
  width: 128px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: left;
  padding-left: 14px;
  padding-right: 36px;
  overflow: hidden;
  background: url(../images/appointment/appointment-date.png) no-repeat 100px center;
  background-size: 16px 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form .right-part .time {
  width: 85px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: right;
  padding-left: 14px;
  padding-right: 32px;
  overflow: hidden;
  background: url(../images/appointment/appointment-time.png) no-repeat 60px center;
  background-size: 16px 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form:nth-child(2) .right-part {
  border: none;
  padding: 0;
  background: none;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form:last-child {
  height: 106px;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form:last-child .right-part {
  height: 106px;
  padding: 0;
  background: none;
}
.page_appointment .content .content-wrapper .right .right-wrapper .form-group .form:last-child .right-part textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 4px 14px;
  font-size: 14px;
  color: #222;
  line-height: 24px;
}
.page_appointment .searchresult {
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  bottom: 0;
  overflow: hidden;
  padding: 20px 30px;
  display: none;
  padding-top: 0;
  padding-bottom: 50px;
}
.page_appointment .searchresult .title {
  height: 49px;
  line-height: 49px;
}
.page_appointment .searchresult .customerResult .tip {
  display: none;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #222222;
}
.page_appointment .searchresult .customerResult .tip span {
  display: inline-block;
  vertical-align: middle;
}
.page_appointment .searchresult .customerResult .tip1 {
  line-height: 80px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
.page_appointment .searchresult .customerResult .tip2 {
  border-top: 1px solid #f2f2f2;
  padding-top: 23px;
  line-height: 24px;
  font-size: 13px;
}
.page_appointment .searchresult .customerResult .tip3 {
  line-height: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #f2f2f2;
  color: #e82742;
  font-size: 13px;
}
.page_appointment .searchresult .customerResult .tip3 .iconfont {
  font-size: 16px;
  margin-right: 3px;
}
.page_appointment .searchresult .customerResult.empty .tip2 {
  display: block;
}
.page_appointment .searchresult .customerResult.empty .tip3 {
  display: block;
}
.page_appointment .searchresult .customerResult.empty.active .tip1 {
  display: block;
}
.page_appointment .searchresult .customerResult.empty.active .tip2 {
  display: none;
}
.page_appointment .searchresult .customerResult.empty.active .tip3 {
  display: none;
}
.page_appointment .searchresult.active .searchMoreShop::after {
  content: "在本店搜索";
}
.page_appointment .searchresult.active .searchTip {
  display: none;
}
.page_appointment .searchresult .searchMoreShop::after {
  content: "在分店搜索";
}
.page_appointment .searchresult .searchTip {
  display: block;
}
.page_appointment .searchresult .searchRightBtn {
  position: absolute;
  right: 20px;
  top: 5px;
}
.page_appointment .searchresult .searchRightBtn .searchLastCard {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.page_appointment .searchresult .searchRightBtn .searchLastCard .iconfont {
  vertical-align: -3px;
  font-size: 20px;
  display: inline-block;
}
.page_appointment .searchMoreShop {
  position: relative;
  display: inline-block;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #595959;
  color: #fff;
  line-height: 40px;
  padding: 0 10px 0 10px;
  margin-left: 10px;
  background-position: 12px center;
  background-size: 15px 15px;
  cursor: pointer;
}
.page_appointment .searchMoreShop.am-clickable-active {
  opacity: 0.8;
}
.page_appointment .searchMoreShop {
  margin: 0;
  float: left;
  padding: 0 10px 0 35px;
  margin-top: 15px;
  margin-left: 10px;
}
.page_appointment .searchMoreShop::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  background: url(../images/search_btn_icon.png) no-repeat;
  background-size: cover;
}
.page_appointment .searchTip {
  color: #999;
  margin-top: 25px;
  margin-left: 14px;
  float: left;
  font-size: 12px;
}
.page_appointment .searchTip .tip_icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(../images/tip_icon.png) no-repeat;
  display: inline-block;
  background-size: cover;
  vertical-align: -18%;
}
.page_appointment .serviceTable {
  z-index: 10;
  background: #FFF;
}
.page_appointment .serviceTable .fixedHead {
  position: absolute;
  z-index: 10;
  background-color: #FFF;
}
.page_appointment .serviceTable .scroller {
  overflow: hidden;
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
}
.page_appointment .serviceTable .scroller thead {
  opacity: 0;
}
.page_appointment .serviceTable table {
  table-layout: fixed;
  width: 100%;
}
.page_appointment .serviceTable tr:nth-child(even) {
  background: #f7f7f7;
}
.page_appointment .serviceTable tr.am-clickable-active {
  background: #ececec;
}
.page_appointment .serviceTable td {
  padding: 5px;
  height: 34px;
  line-height: 24px;
  color: #333333;
  border-bottom: #ececec 1px solid;
  border-right: #ececec 1px solid;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  text-align: center;
}
.page_appointment .serviceTable th {
  padding: 5px;
  height: 34px;
  line-height: 24px;
  color: #333333;
  border-bottom: #ececec 1px solid;
  border-right: #ececec 1px solid;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  text-align: center;
}
.page_appointment .serviceTable th.sortable {
  padding-right: 7px;
}
.page_appointment .serviceTable th.sortable.am-clickable-active {
  background: #ececec;
}
.page_appointment .serviceTable th.sortable.desc {
  background: #ececec;
}
.page_appointment .serviceTable th.sortable.asc {
  background: #ececec;
}
.page_appointment .serviceTable .comment {
  line-height: 17px;
  text-align: center;
  overflow: hidden;
  color: #999;
}
.page_appointment .serviceTable span.red {
  color: #e82742;
}
.serviceItem {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
.serviceItem .serviceItemBox {
  position: absolute;
  background: #FFF;
  bottom: 0;
  left: 0;
  right: 0;
}
.serviceItem .serviceItemBox .title {
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #ddd;
}
.serviceItem .serviceItemBox .title .checkBox {
  padding-right: 10px;
  padding-left: 18px;
}
.serviceItem .serviceItemBox .title .checkBox::before {
  content: "";
  width: 25px;
  height: 25px;
  float: left;
  margin: 8px 5px 0 0;
  background: url("../images/icons_sprite/checkbox.png") no-repeat 0px 0px;
  background-size: 25px 25px;
}
.serviceItem .serviceItemBox .title .checkBox.checked {
  color: #555555;
}
.serviceItem .serviceItemBox .title .checkBox.checked::before {
  background: url("../images/icons_sprite/checkbox_checked_black.png") no-repeat 0px 0px;
  background-size: 25px 25px;
}
.serviceItem .serviceItemBox .title .checkBox.halfchecked {
  color: #555555;
  opacity: 0.5;
}
.serviceItem .serviceItemBox .title .checkBox.halfchecked::before {
  background: url("../images/icons_sprite/checkbox_checked_black.png") no-repeat 0px 0px;
  background-size: 25px 25px;
}
.serviceItem .serviceItemBox .serviceItemWrap {
  width: 100%;
  height: 310px;
  overflow: hidden;
}
.serviceItem .serviceItemBox .serviceItems .classItems:last-child .items {
  border-bottom: none;
}
.serviceItem .serviceItemBox .serviceItems .classItems .itemClass {
  font-size: 15px;
  color: #858585;
  padding-left: 18px;
  height: 36px;
  line-height: 56px;
  width: 100px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.serviceItem .serviceItemBox .serviceItems .classItems span::before {
  content: "";
  float: left;
  width: 25px;
  height: 25px;
  background: url("../images/icons_sprite/checkbox.png") no-repeat 0px 0px;
  background-size: 25px 25px;
  padding-right: 10px;
  margin: 6px 10px;
}
.serviceItem .serviceItemBox .serviceItems .classItems span.selected {
  font-weight: bold;
}
.serviceItem .serviceItemBox .serviceItems .classItems span.selected::before {
  background: url("../images/icons_sprite/checkbox_checked_black.png") no-repeat 0px 0px;
  background-size: 25px 25px;
}
.serviceItem .serviceItemBox .serviceItems .classItems .items {
  font-size: 15px;
  color: #222;
  margin-left: 118px;
  margin-right: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
}
.serviceItem .serviceItemBox .serviceItems .classItems .items.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.serviceItem .serviceItemBox .serviceItems .classItems .items .item {
  line-height: 36px;
  width: 100%;
}
.serviceItem .serviceItemBox .serviceItems .classItems .items .item span {
  display: block;
  float: left;
  width: 20%;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.serviceItem .serviceItemBox .foot {
  height: 40px;
  padding-right: 20px;
}
.serviceItem .serviceItemBox .foot div {
  width: 70px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  float: right;
}
.serviceItem .serviceItemBox .foot div.close {
  color: #999;
}
.serviceItem .serviceItemBox .foot div.button {
  color: #e82742;
}
.page_appointment .serviceTable {
  overflow: hidden;
  max-height: 430px;
}
.page_appointment .list-warp {
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #f2f2f2;
}
.page_appointment .list-warp .list-left {
  float: left;
  width: 50px;
}
.page_appointment .list-warp .list-right {
  margin-left: 50px;
}
.page_appointment .list-warp .list-left .list-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../images/icons_sprite/default_custmerIcon.png") no-repeat center center;
  background-color: #e1e1e1;
  margin-top: 10px;
  background-size: 100% 100%;
}
.page_appointment .list-warp .list-left .list-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page_appointment .list-warp .list-left .list-avatar.good {
  position: relative;
  border: 2px solid #f7d467;
}
.page_appointment .list-warp .list-left .list-avatar.good::before {
  content: "";
  width: 17px;
  height: 16px;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -8.5px;
  background: url(../images/good.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.page_appointment .list-warp .list-left .list-avatar.lock {
  position: relative;
  width: 50px;
  height: 50px;
}
.page_appointment .list-warp .list-left .list-avatar.lock.good::after {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.page_appointment .list-warp .list-left .list-avatar.lock::after {
  content: "\e690";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.page_appointment .list-warp .list-right .list-title-warp {
  overflow: hidden;
  padding: 0 25px;
  height: 44px;
  line-height: 44px;
  font-weight: bold;
}
.page_appointment .list-warp .list-right .list-title-warp i {
  color: #b7b7b7;
  vertical-align: middle;
  font-size: 16px;
}
.page_appointment .list-warp .list-right .list-title-warp i.score,
.page_appointment .list-warp .list-right .list-title-warp i.mark {
  font-size: 12px;
}
.page_appointment .list-warp .list-right .list-title-warp > div {
  float: left;
  padding-right: 8px;
  font-size: 12px;
  color: #222;
}
.page_appointment .list-warp .list-right .list-body {
  overflow: hidden;
  height: 43px;
  line-height: 40px;
  margin: 0 25px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}
.page_appointment .list-warp .list-right .list-body:hover {
  background-color: #ececec;
}
.page_appointment .list-warp .list-right .list-body div {
  font-size: 14px;
}
.page_appointment .list-warp .list-right .list-body > div {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  border-left: 1px solid #fff;
}
.page_appointment .list-warp .list-right .list-body > div.card {
  width: 306px;
  height: 100%;
  overflow: hidden;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardImg {
  width: 26px;
  height: 16px;
  margin-right: 10px;
  float: left;
  margin-top: 14px;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardImg.type_two {
  background: url("../images/card1.jpg") no-repeat;
  background-size: 100% 100%;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardImg.type_one {
  background: url("../images/card2.jpg") no-repeat;
  background-size: 100% 100%;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardImg.type_zero {
  background: url("../images/card3.jpg") no-repeat;
  background-size: 100% 100%;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardinfo {
  margin-left: 36px;
  height: 100%;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardinfo p:first-child {
  line-height: 24px;
  font-size: 14px;
}
.page_appointment .list-warp .list-right .list-body > div.card .cardinfo p:last-child {
  line-height: 16px;
  font-size: 10px;
  color: #999;
}
.page_appointment .list-warp .list-right .list-body > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page_appointment .list-warp .list-right .list-body > div.money {
  width: 110px;
}
.page_appointment .list-warp .list-right .list-body > div.rest-money {
  width: 230px;
}
.page_appointment .list-warp .list-right .list-body > div.mark {
  max-width: 230px;
}
@media only screen and (max-width: 1100px) {
  .page_appointment .list-warp .list-right .list-body > div.rest-money {
    width: 180px;
  }
  .page_appointment .list-warp .list-right .list-body > div.card {
    width: 230px;
  }
}
.page_appointment .list-warp .list-right .list-body > div > b {
  color: #e82742;
}
.am-modalLoading-searchMember {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.am-modalLoading-searchMember .tip {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 90px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
}
.am-modalLoading-searchMember .abort {
  position: fixed;
  width: 120px;
  height: 36px;
  left: 50%;
  margin-left: -60px;
  bottom: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 36px;
}
