/* 文字颜色 ***********************/
/* c0* 为黑白灰色系 */
#phoneCodeModal {
  text-align: center;
}
#phoneCodeModal .inner {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 540px;
  margin-left: -300px;
  margin-top: -270px;
  background-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
}
#phoneCodeModal .content {
  padding-top: 100px;
  padding: 100px 75px 0 75px;
  text-align: left;
}
#phoneCodeModal .content .title {
  font-size: 18px;
  color: #333;
  padding: 0;
}
#phoneCodeModal .content .title .phone {
  margin-left: 5px;
}
#phoneCodeModal .content .main {
  margin-top: 30px;
}
#phoneCodeModal .content .main .input input {
  width: 292px;
  height: 42px;
  border: 1px solid #ddd;
  padding-left: 20px;
  font-size: 14px;
  display: inline-block;
  margin-top: -1px;
}
#phoneCodeModal .content .main .input .sendCodeBtn {
  width: 110px;
  height: 44px;
  color: #fff;
  font-size: 14px;
  background: #555;
  text-align: center;
  line-height: 44px;
  display: inline-block;
  margin-left: -5px;
  border-radius: 0px 3px 3px 0px;
}
#phoneCodeModal .content .main .input .sendCodeBtn.am-disabled {
  background: #999999;
}
#phoneCodeModal .content .main .info {
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}
#phoneCodeModal .content .main .info .red {
  color: #E93E56;
}
#phoneCodeModal .content .main .btngroup {
  text-align: center;
  height: 45px;
  line-height: 45px;
  margin-top: 100px;
}
#phoneCodeModal .content .main .btngroup span {
  width: 150px;
  height: 100%;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  margin: 0 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ddd;
}
#phoneCodeModal .content .main .btngroup span:hover {
  background-color: #f5f5f5;
}
#phoneCodeModal .content .main .btngroup span.selected {
  background-color: #595959;
  color: #FFF;
}
#phoneCodeModal .content .main .btngroup span.selected:hover {
  background-color: #333333;
}
#phoneCodeModal .content .main .toggleBox {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222;
  font-size: 14px;
}
