#qqModal,#autoStationTip,#withoutBillPayTip {
    text-align: center;
    z-index: 100;
    .inner {
        z-index: 1;
        width: 610px;
        margin-left: -325px;
        margin-top: -213px;
        padding: 20px;
    }
    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        &::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin: 10px;
            background: url(../images/icons_sprite/close_employee.png) no-repeat 0px 0px;
            background-size: 15px 15px;
        }
    }
    .title {
        margin-top: 40px;
        line-height: 19px;
        h2 {
            color: #222;
            font-size: 19px;
            height: 19px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        h3 {
            margin-top:10px;
            color: #999;
            font-size: 13px;
        }
    }
    .content {
        height: 208px;
        text-align: center;
        img {
            width: 100%;
            margin-top:35px;
        }
    }
    .footer{
        bottom: 40px;
        height:44px;
        .btn{
            width:165px;
            height:44px;
            border:0;
            background: #555;
            color:#fff;
            &:active {
                background: #282828;
            }
        }
    }
}
#autoStationTip .content img {
    margin-top: 23px;
}
#crossOpenCardNote {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .inner {
        position: absolute;
        width: 744px;
        height: 600px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        background-color: #fff;
        border-radius: 4px;
        padding: 30px 65px;
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 35px;
            height: 35px;
            &::before {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                margin: 10px;
                background: url(../images/icons_sprite/close_employee.png) no-repeat 0px 0px;
                background-size: 15px 15px;
            }
        }
        .title {
            color: #333;
            text-align: center;
            h2 {
                font-size: 20px;
                line-height: 28px;
                margin: 10px 0 5px;
            }
            h3 {
                font-size: 16px;
                line-height: 22px;
                height: 44px;
            }
        }
        .tab {
            width: 192px;
            height: 48px;
            font-size: 0;
            margin: 20px auto;
            .item {
                display: inline-block;
                vertical-align: top;
                width: 95px;
                height: 46px;
                border: 1px solid #d9d9d9;
                font-size: 14px;
                color: #222;
                text-align: center;
                line-height: 48px;
                &:first-child {
                    border-right: none;
                    border-radius: 4px 0 0 4px;
                }
                &:last-child {
                    border-left: none;
                    border-radius: 0 4px 4px 0;
                }
                &.selected {
                    width: 96px;
                    height: 48px;
                    border: none;
                    background-color: #595959;
                    color: #fff; 
                }
            }
        }
        .content {
            height: 340px;
            overflow: hidden;
            font-size: 14px;
            color: #222;
            .wrap
            h5,h6 {
                margin: 0;
            }
            h6 {
                color: #333;
            }
            p {
                margin: 20px 0;
                color: #333;
            }
        }
        .note {
            font-size: 14px;
            color: #f00;
            line-height: 30px;
            height: 30px;
            overflow: hidden;
        }
        .footer {
            height: 44px;
            margin-top: 20px;
            text-align: center;
            .btn {
                display: inline-block;
                vertical-align: top;
                width: 146px;
                height: 44px;
                font-size: 14px;
                color: #fff;
                background-color: #555;
                text-align: center;
                line-height: 44px;
                border-radius: 4px;
                margin: 0 5px;
                &.nomore {
                    width: 144px;
                    height: 42px;
                    border: 1px solid #d9d9d9;
                    background-color: transparent;
                    color: #222;
                }
            }
        }
    }
}

#largeHeadImg {
    .headImg {
        height:60%;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        .loadingWrapper {
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            min-width: 100px;
            padding: 15px 10px 10px 10px;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            .loading::before {
                content: "";
                display: block;
                margin: 0 auto;
                width: 60px;
                height: 60px;
                background: url("../images/loading.png") no-repeat center center;
                background-size: 60px 60px;
                -webkit-animation: animation-loading infinite linear 1.2s;
            }
            .text{
                line-height: 30px;
                color: #fff;
            }
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
#withoutBillPayTip{
    display: none;
    .inner {
        margin-top: -235px;
        .content {
            padding: 0px 15px 135px 15px;
            min-height: 80px;
        }
        .footer{
            margin: 17 auto;
            .btn{
                display: inline-block;
                width: 165px;
                color: #fff;
                &.am-click-active{
                    background: #282828;
                }
                &.OK{
                    border:1px solid #E8E8E8;
                    color: #222222;
                    background: #FFFFFF;
                    &.am-clickable-active{
                        background: #d8d8d8d8;
                    }
                }
            }
        }
        .close{
            &.am-clickable-active{
                background: #ecececd8;
            }
        }
        .noTip {
            position: absolute;
            right: 20px;
            bottom: 16px;
            width: 80px;
            height: 26px;
            text-align: center;
            .icon {
                width: 12px;
                height: 12px;
                display: inline-block;
                vertical-align: top;
                border: 1px solid #a1a1a1;
                border-radius: 2px;
                position: relative;
                margin-top: 6px;
                .iconfont {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    display: none;
                }
            }
            p {
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                color: #555;
                line-height: 16px;
                text-align: left;
                padding: 5px 4px;
            }
            &.checked {
                .icon {
                    border: none;
                    .iconfont {
                        display: block;
                    }
                }
            }
        }
    }
}
#noSmallProgram {
    text-align: center;
    .modelContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /*向左向上分别平移自身的一半*/
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        box-sizing: border-box;
        background:#fff;
        border-radius: 4px;
        h2 {
            margin-bottom: 6px;
            font-size: 20px;
            color: #333;
            line-height: 28px;
        }
        h3 {
            font-size: 16px;
            color: #909090;
            line-height: 22px;
        }
        .close {
            position: absolute;
            top: -5px;
            right: 11px;
            font-size: 24px;
        }
        .open {
            display: inline-block;
            text-align: center;
            color: #fff;
            background: #555;
            border-radius: 4px;
        }
    }
    .beforeOpen {
        width: 774px;
        // height: 599px;
        padding: 39px 0 28px;
        .qrx{
            // display: block;
            position: absolute;
            top:340px;
            right: 50px;
            width: 101px;
            height: 101px;
        }
        .experience-span{
            position: absolute;
            top:480px;
            right: 75px;
            font-size: 12px;
            color: #999;
        }
        img {
            width: 627px;
            height: 389px;
            margin-top: 28px;
            margin-left: 116px;
        }
        .open {
            width: 146px;
            height: 44px;
            margin: 18px auto 0;
            line-height: 44px;
        }
    }
}
#swipeModal {
    text-align: center;
    z-index: 2;
    background: transparent;
    .inner {
        z-index: 1;
        width: 435px;
        height: 272px;
        margin-left: -230px;
        margin-top: -136px;
        padding: 20px;
        background:rgba(255,255,255,1);
        box-shadow:0px 1px 32px 0px rgba(0,0,0,0.5);
        border-radius:4px;
    }

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;

        &::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin: 10px;
            background: url(../images/icons_sprite/close_employee.png) no-repeat 0px 0px;
            background-size: 15px 15px;
        }
    }

    .title {
        margin-top: 40px;
        line-height: 19px;

        h2 {
            color: #222;
            font-size: 19px;
            height: 19px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        h3 {
            margin-top: 10px;
            color: #999;
            font-size: 13px;
        }
    }

    .content {
        padding: 10px 15px 10px 15px;
        text-align: center;

        img {
            width: 80%;
            margin-top: 23px;
        }
    }
}
#billDetail {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 101;
    -webkit-transition: background 0.25s ease-in;
    &.dark {
        background: rgba(0, 0, 0, 0.4);
    }
    .mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .content {
        height: 100%;
        width: 40%;
        background: #FFF;
        text-align: left;
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 20px 23px 28px;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1);
        -webkit-transition: transform 0.25s ease-in;
        &.show {
            display: block;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        .title {
            height:17px;
            font-size:12px;
            color:rgba(102,102,102,1);
            line-height:17px;
        }
        .customer {
            height: 60px;
            line-height: 60px;
            font-size:21px;
            color:rgba(51,51,51,1);
            border-bottom: 1px solid rgba(236,236,236,1);
            .name{
                margin-left: 3px;
                vertical-align: middle;
                font-weight: 500;
            }
            .sex {
                font-size:16px;
                font-weight:500;
                color:rgba(153,153,153,1);
                float: right;
                vertical-align: middle;
            }
            .billNo{
                font-family: 'displayIdFont';
                font-size:27px;
                vertical-align: middle;
            }
        }
        .selectItem {
            max-height: 400px;
            border-bottom: 1px solid rgba(236,236,236,1);
            padding-top: 13px;
            padding-bottom: 20px;
            overflow: hidden;
            .scollItem {
                &>ul{
                    height: 100%;
                    li {
                        line-height: 34px;
                        clear: both;
                        &::before{
                            content: "";
                            display: inline-block;
                        }
                        .itemName {
                            width: 200px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            float: left;
                            height: 34px;
                            &.isComboItem::after{
                                content: "";
                                display: inline-block;
                                border-top: 5px solid #6D6D6D;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: none;
                                margin-left: 5px;
                                margin-bottom: 2px;
                            }
                        }
                        .itemNum {
                            color:rgba(153,153,153,1);
                            text-align: right;
                            float: right;
                            display: inline-block;
                        }
                        .itemCost {
                            float: right;
                            font-size:14px;
                            color:rgba(34,34,34,1);
                            line-height:34px;
                            height: 34px;
                            width: 100px;
                            text-align: right;
                        }
                        .package {
                            width: 100%;
                            background-color: #f7f7f7;
                            border-radius: 3px;
                            ul {
                                padding: 0 20px;
                                li{
                                    height: 52px;
                                    font-size: 13px;
                                    color: #555;
                                    line-height: 52px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    padding-left: 34px;
                                    border-bottom: 1px solid rgba(236,236,236,1);
                                    position: relative;
                                    &:last-of-type {
                                        border: none;
                                    }
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 16px;
                                        width: 20px;
                                        height: 20px;
                                        border: 1px solid #ddd;
                                        border-radius: 50%;
                                    }
                                    &.selected::before{
                                        background: #555555 url(../images/selectReason.png) no-repeat center center;
                                        background-size: 12px 8px;
                                        border: none;
                                    }
                                    .times {
                                        padding-top: 7px;
                                        float: right;
                                        line-height: 20px;
                                        font-size: 12px;
                                        text-align: right;
                                        span {
                                            display: block;
                                            line-height: 14px;
                                            color: #bdbdbd;
                                        }
                                    }
                                    .itemName1 {
                                        padding-top: 5px;
                                        line-height: 24px;
                                        margin-right: 80px;
                                    }
                                    .invalidDate {
                                        line-height: 14px;
                                        font-size: 12px;
                                        color: #bdbdbd;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
        }
        .remark {
            margin-top: 16px;
            .title {
                height: 26px;
                line-height: 26px;
            }
            .billRemark {
                display: block;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 100%;
                font-size: 14px;
                color: #222;
                line-height: 20px;
                padding: 6px 10px;
                border-radius: 5px;
                height: 68px;
                border: 1px solid #ddd;
                resize: none;
            }
        }
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 60px;
            padding: 10px 15px 0;
            text-align: center;
            .btn {
                display: inline-block;
                width: 40%;
                height: 40px;
                line-height: 40px;
                margin: 0 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
                text-align: center;
            }
            .ok {
                height: 42px;
                border: 1px solid #555;
                background: #555;
                color: #fff;
            }
            .cancle {
                height: 42px;
                border: 1px solid #ddd;
                color: #555;
            }
        }
    }
}