.MGJ_rvPush {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
}
.MGJ_rvPush .MGJ_rvPushContent {
  width: 480px;
  border-radius: 4px;
  background: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -240px 0 0 -240px;
  padding-bottom: 10px;
}
.MGJ_rvPush svg {
  position: absolute;
  left: 18px;
  top: 10px;
  width: 20px;
  height: 20px;
}
.MGJ_rvPush .MGJ_pushTitle {
  line-height: 44px;
  height: 44px;
  font-weight: bold;
  color: #222222;
  padding: 0 20px 0 45px;
  font-size: 14px;
}
.MGJ_rvPush .MGJ_status {
  padding: 0 50px;
  margin-bottom: 10px;
  height: 66px;
}
.MGJ_rvPush .MGJ_status svg {
  display: none;
  position: absolute;
  top: 66px;
  left: 150px;
  height: 30px;
  width: 180px;
}
.MGJ_rvPush .MGJ_status .MGJ_head {
  height: 66px;
  width: 66px;
  overflow: hidden;
  border: 4px solid #f0f0f0;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 36px;
}
.MGJ_rvPush .MGJ_status .MGJ_head img {
  width: 100%;
}
.MGJ_rvPush .MGJ_status .MGJ_member {
  float: left;
}
.MGJ_rvPush .MGJ_status .MGJ_member.male {
  background-image: url("../images/rvPush/bg-man.gif");
}
.MGJ_rvPush .MGJ_status .MGJ_member.female {
  background-image: url("../images/rvPush/bg-woman.gif");
}
.MGJ_rvPush .MGJ_status .MGJ_employee {
  float: right;
  background-image: url("../images/rvPush/barberBg-man.gif");
}
.MGJ_rvPush .MGJ_status.status1 .reservation {
  display: block;
}
.MGJ_rvPush .MGJ_status.status2 .cancel {
  display: block;
}
.MGJ_rvPush .MGJ_status.status3 {
  background: url("../images/rvPush/status3.png") no-repeat center center;
}
.MGJ_rvPush .MGJ_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
}
.MGJ_rvPush .MGJ_close::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 10px;
  background: url(../images/icons_sprite/close_employee.png) no-repeat 0px 0px;
  background-size: 15px 15px;
}
.MGJ_rvPush .MGJ_mute {
  width: 30px;
  height: 30px;
  background: url("../images/rvPush/mute1.png") no-repeat center center;
  background-size: 24px 24px;
  position: absolute;
  bottom: 5px;
  right: 18px;
  opacity: 0.5;
}
.MGJ_rvPush .MGJ_mute:hover {
  opacity: 0.7;
}
.MGJ_rvPush .MGJ_mute:active {
  opacity: 1;
}
.MGJ_rvPush .MGJ_mute.mute {
  background-image: url("../images/rvPush/mute.png");
}
.MGJ_rvPush .MGJ_info {
  background: #eeeeee;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 4px;
}
.MGJ_rvPush .MGJ_info table {
  width: 100%;
}
.MGJ_rvPush .MGJ_info table td {
  height: 30px;
  line-height: 30px;
}
.MGJ_rvPush .MGJ_info table td.hightLight {
  color: #f83051;
  font-weight: bold;
}
.MGJ_rvPush .MGJ_info table tr td:nth-child(1) {
  width: 130px;
  color: #666666;
  padding-left: 30px;
}
.MGJ_rvPush .MGJ_info table.cancel {
  text-decoration: line-through;
}
.MGJ_rvPush .MGJ_pinkBtn {
  color: #FFF;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  width: 180px;
  text-align: center;
  margin-top: 10px;
}
