.sourceModal {
    font-size: 14px;
    text-align: left;
    
    .inner {
        z-index: 1;
        width: 531px;
        margin-left: -265px;
        padding: 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;

        .sourceTitle {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .close {
            top: 10px;
            right: 10px;
        }

        .source {
            width: 100%;
            background: rgba(247, 247, 247, 1);
            border-radius: 3px;
            padding: 0 18px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;


            .changesource-wrapper {
                width: 100%;
                overflow: hidden;
                float: left;
                max-height: 268px;
                padding-bottom: 15px;

                .changesource {
                    .changebox {
                        margin-top: 15px;
                        width: 32%;
                        display: inline-block;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;

                        span {
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                        }

                        .change_icon {
                            width: 14px;
                            height: 14px;
                            vertical-align: middle;
                            border: 1px solid #ddd;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-bottom-right-radius: 50%;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            margin-right: 3px;
                        }
                    }
                }

                .changebox.selected {
                    .change_icon {
                        border-color: #555;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #555;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-bottom-right-radius: 50%;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            position: absolute;
                            left: 2px;
                            top: 2px;
                            display: block;
                        }
                    }
                }
            }
        }

        .footer {
            position: relative;
            margin-top: 30px;

            .btnOk {
                width: 165px;
                height: 44px;
                border: 0;
                background: #555;
                color: #fff;
            }

            .btnCancer {
                width: 163px;
                height: 42px;
                border: 1px solid #ddd;
                color: #555
            }
        }
    }
}