#refundVccode{
    z-index: 999;
h1{
        font-size: 1rem;
        line-height: 3rem;
        padding: 0px 1rem;
        color: rgb(85, 85, 85);
        font-weight: normal;
        margin: 0;
}
.innern{
    background: #ffffff;
    width:401px;
    height:206px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.content{
        border-top: 1px solid rgb(238, 238, 238);
        border-bottom: 1px solid rgb(238, 238, 238);
        padding: 1rem;
}
#vcCodeIpt{
    width:205px;
    height:36px;
    border-radius:2px;
    border:solid 1px #dedede;
    font-size:17px;
    padding-left: 11px;
}
#vc_code{
    position:relative;
    top:14px;
    left:24px;
    height:38px;
    width:88px;
}
.rufundbtn{
    line-height: 3rem;
    text-align: center;
    font-size: 1.1rem;
    width:50%;
    float: left;
    box-sizing: border-box;
    &:hover{
        background:#eee;
    }
    &:first-child{
        border-right: 1px solid rgb(238, 238, 238);
    }
}   
}
