{
	"presets": [
		["env", {
			"modules": false,
		}]
	],
	"plugins": [
		"transform-runtime", 
		"transform-class-properties",
		"transform-vue-jsx",
		"array-includes",
		"transform-object-rest-spread"
	]
}