@add_png: url("@{path}icons_sprite/add.png");
@add_png_pos:0px 0px;
@add_png_size:15px 15px;


@addCard_icon_png: url("@{path}icons_sprite/addCard_icon.png");
@addCard_icon_png_pos:0px 0px;
@addCard_icon_png_size:49px 49px;


@add_white_png: url("@{path}icons_sprite/add_white.png");
@add_white_png_pos:0px 0px;
@add_white_png_size:15px 15px;


@arrow_png: url("@{path}icons_sprite/arrow.png");
@arrow_png_pos:0px 0px;
@arrow_png_size:16px 10px;


@arrow1_png: url("@{path}icons_sprite/arrow1.png");
@arrow1_png_pos:0px 0px;
@arrow1_png_size:16px 30px;


@arrow2_png: url("@{path}icons_sprite/arrow2.png");
@arrow2_png_pos:0px 0px;
@arrow2_png_size:16px 30px;


@billStatistics_category_png: url("@{path}icons_sprite/billStatistics_category.png");
@billStatistics_category_png_pos:0px 0px;
@billStatistics_category_png_size:14.5px 14.5px;


@billStatistics_customer_png: url("@{path}icons_sprite/billStatistics_customer.png");
@billStatistics_customer_png_pos:0px 0px;
@billStatistics_customer_png_size:15px 15px;


@billStatistics_income_png: url("@{path}icons_sprite/billStatistics_income.png");
@billStatistics_income_png_pos:0px 0px;
@billStatistics_income_png_size:15px 13px;


@billStatistics_perf_png: url("@{path}icons_sprite/billStatistics_perf.png");
@billStatistics_perf_png_pos:0px 0px;
@billStatistics_perf_png_size:14.5px 15px;


@bubble_png: url("@{path}icons_sprite/bubble.png");
@bubble_png_pos:0px 0px;
@bubble_png_size:35px 41px;


@calendar_icon_png: url("@{path}icons_sprite/calendar_icon.png");
@calendar_icon_png_pos:0px 0px;
@calendar_icon_png_size:15px 15px;


@card_icon_png: url("@{path}icons_sprite/card_icon.png");
@card_icon_png_pos:0px 0px;
@card_icon_png_size:15px 12.5px;


@cellphone_png: url("@{path}icons_sprite/cellphone.png");
@cellphone_png_pos:0px 0px;
@cellphone_png_size:16px 16px;


@changeCard_png: url("@{path}icons_sprite/changeCard.png");
@changeCard_png_pos:0px 0px;
@changeCard_png_size:37px 37px;


@checkbox_png: url("@{path}icons_sprite/checkbox.png");
@checkbox_png_pos:0px 0px;
@checkbox_png_size:25px 25px;

@checkbox_checked_black_png: url("@{path}icons_sprite/checkbox_checked_black.png");

@checkbox_checked_png: url("@{path}icons_sprite/checkbox_checked.png");
@checkbox_checked_png_pos:0px 0px;
@checkbox_checked_png_size:25px 25px;


@close_png: url("@{path}icons_sprite/close.png");
@close_png_pos:0px 0px;
@close_png_size:36px 36px;


@close_active_png: url("@{path}icons_sprite/close_active.png");
@close_active_png_pos:0px 0px;
@close_active_png_size:36px 36px;


@close_employee_png: url("@{path}icons_sprite/close_employee.png");
@close_employee_png_pos:0px 0px;
@close_employee_png_size:15px 15px;


@combo_icon_png: url("@{path}icons_sprite/combo_icon.png");
@combo_icon_png_pos:0px 0px;
@combo_icon_png_size:15px 15px;


@default_custmerIcon_png: url("@{path}icons_sprite/default_custmerIcon.png");
@default_custmerIcon_png_pos:0px 0px;
@default_custmerIcon_png_size:100px 100px;


@delete_png: url("@{path}icons_sprite/delete.png");
@delete_png_pos:0px 0px;
@delete_png_size:20px 20px;


@delete_active_png: url("@{path}icons_sprite/delete_active.png");
@delete_active_png_pos:0px 0px;
@delete_active_png_size:20px 20px;


@del_icon_png: url("@{path}icons_sprite/del_icon.png");
@del_icon_png_pos:0px 0px;
@del_icon_png_size:15px 15px;


@details_icon_png: url("@{path}icons_sprite/details_icon.png");
@details_icon_png_pos:0px 0px;
@details_icon_png_size:15px 15px;


@edit_png: url("@{path}icons_sprite/edit.png");
@edit_png_pos:0px 0px;
@edit_png_size:15px 15px;


@exchange_png: url("@{path}icons_sprite/exchange.png");
@exchange_png_pos:0px 0px;
@exchange_png_size:23px 23px;


@exchangemodel_png: url("@{path}icons_sprite/exchangemodel.png");
@exchangemodel_png_pos:0px 0px;
@exchangemodel_png_size:19px 20px;


@female_png: url("@{path}icons_sprite/female.png");
@female_png_pos:0px 0px;
@female_png_size:16px 16px;


@icon_alipay_png: url("@{path}icons_sprite/icon_alipay.png");
@icon_alipay_png_pos:0px 0px;
@icon_alipay_png_size:40px 40px;


@icon_dp_png: url("@{path}icons_sprite/icon_dp.png");
@icon_dp_png_pos:0px 0px;
@icon_dp_png_size:40px 40px;


@icon_lcMoney_png: url("@{path}icons_sprite/icon_lcMoney.png");
@icon_lcMoney_png_pos:0px 0px;
@icon_lcMoney_png_size:20px 20px;


@icon_mallOrder_png: url("@{path}icons_sprite/icon_mallOrder.png");
@icon_mallOrder_png_pos:0px 0px;
@icon_mallOrder_png_size:20px 20px;


@icon_selected_png: url("@{path}icons_sprite/icon_selected.png");
@icon_selected_png_pos:0px 0px;
@icon_selected_png_size:20px 20px;


@icon_tips_png: url("@{path}icons_sprite/icon_tips.png");
@icon_tips_png_pos:0px 0px;
@icon_tips_png_size:16px 16px;


@icon_wechat_png: url("@{path}icons_sprite/icon_wechat.png");
@icon_wechat_png_pos:0px 0px;
@icon_wechat_png_size:40px 40px;

@icon_pos_png: url("@{path}icons_sprite/icon_pos.png");
@icon_pos_png_pos:0px 0px;
@icon_pos_png_size:40px 40px;

@input_clear_icon_png: url("@{path}icons_sprite/input_clear_icon.png");
@input_clear_icon_png_pos:0px 0px;
@input_clear_icon_png_size:16px 16px;


@line_icon_png: url("@{path}icons_sprite/line_icon.png");
@line_icon_png_pos:0px 0px;
@line_icon_png_size:10px 166.5px;


@login_icon_png: url("@{path}icons_sprite/login_icon.png");
@login_icon_png_pos:0px 0px;
@login_icon_png_size:33px 33px;


@lookmsg_disabled_ico_png: url("@{path}icons_sprite/lookmsg_disabled_ico.png");
@lookmsg_disabled_ico_png_pos:0px 0px;
@lookmsg_disabled_ico_png_size:16px 16px;


@lookmsg_ico_png: url("@{path}icons_sprite/lookmsg_ico.png");
@lookmsg_ico_png_pos:0px 0px;
@lookmsg_ico_png_size:16px 16px;


@lookphoto_disabled_ico_png: url("@{path}icons_sprite/lookphoto_disabled_ico.png");
@lookphoto_disabled_ico_png_pos:0px 0px;
@lookphoto_disabled_ico_png_size:15px 15px;


@lookphoto_ico_png: url("@{path}icons_sprite/lookphoto_ico.png");
@lookphoto_ico_png_pos:0px 0px;
@lookphoto_ico_png_size:15px 15px;


@male_png: url("@{path}icons_sprite/male.png");
@male_png_pos:0px 0px;
@male_png_size:16px 16px;


@man_icon_png: url("@{path}icons_sprite/man_icon.png");
@man_icon_png_pos:0px 0px;
@man_icon_png_size:18px 18px;


@model_img_png: url("@{path}icons_sprite/model_img.png");
@model_img_png_pos:0px 0px;
@model_img_png_size:32px 32px;


@model_text_png: url("@{path}icons_sprite/model_text.png");
@model_text_png_pos:0px 0px;
@model_text_png_size:32px 32px;


@offline_png: url("@{path}icons_sprite/offline.png");
@offline_png_pos:0px 0px;
@offline_png_size:41px 41px;


@online_png: url("@{path}icons_sprite/online.png");
@online_png_pos:0px 0px;
@online_png_size:41px 41px;


@outher_ico_png: url("@{path}icons_sprite/outher_ico.png");
@outher_ico_png_pos:0px 0px;
@outher_ico_png_size:13.5px 13.5px;


@pay_alipay_png: url("@{path}icons_sprite/pay_alipay.png");
@pay_alipay_png_pos:0px 0px;
@pay_alipay_png_size:80px 80px;


@pay_bonus_png: url("@{path}icons_sprite/pay_bonus.png");
@pay_bonus_png_pos:0px 0px;
@pay_bonus_png_size:80px 80px;


@pay_card_png: url("@{path}icons_sprite/pay_card.png");
@pay_card_png_pos:0px 0px;
@pay_card_png_size:80px 80px;


@pay_cash_png: url("@{path}icons_sprite/pay_cash.png");
@pay_cash_png_pos:0px 0px;
@pay_cash_png_size:80px 80px;


@pay_dp_png: url("@{path}icons_sprite/pay_dp.png");
@pay_dp_png_pos:0px 0px;
@pay_dp_png_size:80px 80px;


@pay_mix_png: url("@{path}icons_sprite/pay_mix.png");
@pay_mix_png_pos:0px 0px;
@pay_mix_png_size:80px 80px;


@pay_pos_png: url("@{path}icons_sprite/pay_pos.png");
@pay_pos_png_pos:0px 0px;
@pay_pos_png_size:80px 80px;


@pay_wechat_png: url("@{path}icons_sprite/pay_wechat.png");
@pay_wechat_png_pos:0px 0px;
@pay_wechat_png_size:80px 80px;


@print_png: url("@{path}icons_sprite/print.png");
@print_png_pos:0px 0px;
@print_png_size:24px 24px;


@reduce_png: url("@{path}icons_sprite/reduce.png");
@reduce_png_pos:0px 0px;
@reduce_png_size:15px 15px;


@scan_png: url("@{path}icons_sprite/scan.png");
@scan_png_pos:0px 0px;
@scan_png_size:24px 24px;


@searchMember_add_png: url("@{path}icons_sprite/searchMember_add.png");
@searchMember_add_png_pos:0px 0px;
@searchMember_add_png_size:15px 15px;


@searchMember_close_png: url("@{path}icons_sprite/searchMember_close.png");
@searchMember_close_png_pos:0px 0px;
@searchMember_close_png_size:20.5px 21px;


@searchMember_del_png: url("@{path}icons_sprite/searchMember_del.png");
@searchMember_del_png_pos:0px 0px;
@searchMember_del_png_size:28.5px 25px;


@searchMember_serch_png: url("@{path}icons_sprite/searchMember_serch.png");
@searchMember_serch_png_pos:0px 0px;
@searchMember_serch_png_size:29px 29px;


@searchMember_success_png: url("@{path}icons_sprite/searchMember_success.png");
@searchMember_success_png_pos:0px 0px;
@searchMember_success_png_size:30px 20px;


@selected_png: url("@{path}icons_sprite/selected.png");
@selected_png_pos:0px 0px;
@selected_png_size:15px 15px;


@selected_white_png: url("@{path}icons_sprite/selected_white.png");
@selected_white_png_pos:0px 0px;
@selected_white_png_size:15px 15px;


@select_icon_png: url("@{path}icons_sprite/select_icon.png");
@select_icon_png_pos:0px 0px;
@select_icon_png_size:6px 5px;


@setting_png: url("@{path}icons_sprite/setting.png");
@setting_png_pos:0px 0px;
@setting_png_size:20px 20px;


@setting_active_png: url("@{path}icons_sprite/setting_active.png");
@setting_active_png_pos:0px 0px;
@setting_active_png_size:20px 20px;


@user_png: url("@{path}icons_sprite/user.png");
@user_png_pos:0px 0px;
@user_png_size:24px 24px;


@woman_icon_png: url("@{path}icons_sprite/woman_icon.png");
@woman_icon_png_pos:0px 0px;
@woman_icon_png_size:14px 20px;


@write_ico_png: url("@{path}icons_sprite/write_ico.png");
@write_ico_png_pos:0px 0px;
@write_ico_png_size:12.5px 15.5px;
