@login_words_png: url("@{path}login_sprite.png");
@login_words_png_pos:0px 0px;
@login_words_png_size:218px 158px;


@login_logo_png: url("@{path}login_sprite.png");
@login_logo_png_pos:0px -55px;
@login_logo_png_size:218px 158px;


@right_icon2_png: url("@{path}login_sprite.png");
@right_icon2_png_pos:-103px -55px;
@right_icon2_png_size:218px 158px;


@right_icon1_png: url("@{path}login_sprite.png");
@right_icon1_png_pos:-158.5px -55px;
@right_icon1_png_size:218px 158px;


@user_icon_png: url("@{path}login_sprite.png");
@user_icon_png_pos:-103px -110px;
@user_icon_png_size:218px 158px;


@password_ico_png: url("@{path}login_sprite.png");
@password_ico_png_pos:-136.5px -110px;
@password_ico_png_size:218px 158px;

