@payIcon_card_png: url("@{path}payIcon_sprite.png");
@payIcon_card_png_pos:0px 0px;
@payIcon_card_png_size:35px 175px;


@payIcon_charge_png: url("@{path}payIcon_sprite.png");
@payIcon_charge_png_pos:0px -35px;
@payIcon_charge_png_size:35px 175px;


@payIcon_combocard_png: url("@{path}payIcon_sprite.png");
@payIcon_combocard_png_pos:0px -70px;
@payIcon_combocard_png_size:35px 175px;


@payIcon_product_png: url("@{path}payIcon_sprite.png");
@payIcon_product_png_pos:0px -105px;
@payIcon_product_png_size:35px 175px;


@payIcon_service_png: url("@{path}payIcon_sprite.png");
@payIcon_service_png_pos:0px -140px;
@payIcon_service_png_size:35px 175px;

