@icon_f_png: url("@{path}tab_sprite.png");
@icon_f_png_pos:0px 0px;
@icon_f_png_size:35px 700px;


@icon_a_png: url("@{path}tab_sprite.png");
@icon_a_png_pos:0px -35px;
@icon_a_png_size:35px 700px;


@icon_b_png: url("@{path}tab_sprite.png");
@icon_b_png_pos:0px -70px;
@icon_b_png_size:35px 700px;


@icon_b_s_png: url("@{path}tab_sprite.png");
@icon_b_s_png_pos:0px -105px;
@icon_b_s_png_size:35px 700px;


@icon_c_png: url("@{path}tab_sprite.png");
@icon_c_png_pos:0px -140px;
@icon_c_png_size:35px 700px;


@icon_c_s_png: url("@{path}tab_sprite.png");
@icon_c_s_png_pos:0px -175px;
@icon_c_s_png_size:35px 700px;


@icon_d_png: url("@{path}tab_sprite.png");
@icon_d_png_pos:0px -210px;
@icon_d_png_size:35px 700px;


@icon_d_s_png: url("@{path}tab_sprite.png");
@icon_d_s_png_pos:0px -245px;
@icon_d_s_png_size:35px 700px;


@icon_e_png: url("@{path}tab_sprite.png");
@icon_e_png_pos:0px -280px;
@icon_e_png_size:35px 700px;


@icon_e_s_png: url("@{path}tab_sprite.png");
@icon_e_s_png_pos:0px -315px;
@icon_e_s_png_size:35px 700px;


@icon_a_s_png: url("@{path}tab_sprite.png");
@icon_a_s_png_pos:0px -350px;
@icon_a_s_png_size:35px 700px;


@icon_f_s_png: url("@{path}tab_sprite.png");
@icon_f_s_png_pos:0px -385px;
@icon_f_s_png_size:35px 700px;


@icon_g_png: url("@{path}tab_sprite.png");
@icon_g_png_pos:0px -420px;
@icon_g_png_size:35px 700px;


@icon_g_s_png: url("@{path}tab_sprite.png");
@icon_g_s_png_pos:0px -455px;
@icon_g_s_png_size:35px 700px;


@icon_h_png: url("@{path}tab_sprite.png");
@icon_h_png_pos:0px -490px;
@icon_h_png_size:35px 700px;


@icon_h_s_png: url("@{path}tab_sprite.png");
@icon_h_s_png_pos:0px -525px;
@icon_h_s_png_size:35px 700px;


@icon_i_png: url("@{path}tab_sprite.png");
@icon_i_png_pos:0px -560px;
@icon_i_png_size:35px 700px;


@icon_i_s_png: url("@{path}tab_sprite.png");
@icon_i_s_png_pos:0px -595px;
@icon_i_s_png_size:35px 700px;


@icon_j_png: url("@{path}tab_sprite.png");
@icon_j_png_pos:0px -630px;
@icon_j_png_size:35px 700px;


@icon_j_s_png: url("@{path}tab_sprite.png");
@icon_j_s_png_pos:0px -665px;
@icon_j_s_png_size:35px 700px;

