@tipbg_pay_alipay_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_alipay_png_pos:0px 0px;
@tipbg_pay_alipay_png_size:255px 1055px;


@tipbg_pay_card_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_card_png_pos:0px -155px;
@tipbg_pay_card_png_size:255px 1055px;


@tipbg_pay_cash_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_cash_png_pos:0px -310px;
@tipbg_pay_cash_png_size:255px 1055px;


@tipbg_pay_dp_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_dp_png_pos:0px -465px;
@tipbg_pay_dp_png_size:255px 1055px;


@tipbg_pay_pos_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_pos_png_pos:0px -620px;
@tipbg_pay_pos_png_size:255px 1055px;


@tipbg_pay_wechat_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_wechat_png_pos:0px -775px;
@tipbg_pay_wechat_png_size:255px 1055px;


@tipbg_pay_cash1_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_cash1_png_pos:0px -930px;
@tipbg_pay_cash1_png_size:255px 1055px;


@tipbg_pay_pos1_png: url("@{path}tipbg_sprite.png");
@tipbg_pay_pos1_png_pos:-125px -930px;
@tipbg_pay_pos1_png_size:255px 1055px;

